{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Browse the finest quality IVF Laboratory equipment{% endblock %}
{% block title %}Products{% endblock %}


{% block body %}

<h1 class="text-center">{{ category.name }}</h1>
{% if category.description %}<p class="text-center"><em>{{ category.description }}</em></p>{% endif %}

<h2 class="text-center">{{ product.subcategory }}</h2>
{% if product.subcategory.description %}<p class="text-center"><em>{{ product.subcategory.description }}</em></p>{% endif %}

<h3 class="text-center">{{ product.name }}</h3>
<p class="text-center">Product #: {{ product.product_id }}</p>
{% if product.description %}<p class="text-center"><em>{{ product.description }}</em></p>{% endif %}

<div class="row">
  <div class="col-sm-6">
    {% if images %}
    {% for image in images %}
    <a href="{{ image.get_absolute_url }}" title="{{ image.image_title }}">
      <img class="img-responsive" alt="{{ image.image_title }}" src="{{ image.get_absolute_url }}">
    </a>    
    {% endfor %}

    {% else %}
    <div class="alert alert-warning">No pictures available</div>
    {% endif %}
  </div>
  <div class="col-sm-6">
    {% if product.description %}<p><em>{{ product.description }}</em></p>{% endif %}
  </div>
</div>       

{% endblock %}