{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Browse the finest quality IVF Laboratory equipment{% endblock %}
{% block title %}Products{% endblock %}


{% block body %}

<ol class="breadcrumb">
  <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
  <li class="active">{{ product.subcategory }}</li>
</ol>

<h2 class="text-center">{{ product.name }}</h2>
<p class="text-center">Product ID: {{ product.product_id }}</p>

<div class="row">
  <div class="col-sm-6">
    {% if images %}
    {% for image in images %}
    <a href="{{ image.get_absolute_url }}" title="{{ image.image_title }}">
      <img class="img-responsive img-rounded" alt="{{ image.image_title }}" src="{{ image.get_absolute_url }}">
    </a>    
    {% endfor %}

    {% else %}
    <div class="alert alert-warning">No pictures available</div>
    {% endif %}
  </div>
  <div class="col-sm-6">
    {% if product.description %}<p><em>{{ product.description }}</em></p>{% endif %}
  </div>
</div>       

{% endblock %}