{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}
{% load cache %}

{% block pagedescription %}Browse the finest quality IVF Laboratory equipment{% endblock %}
{% block title %}Products{% endblock %}

{% block head %}
<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="{% static 'owl-carousel/css/owl.carousel.css' %}">

<!-- Default Theme -->
<link rel="stylesheet" href="{% static 'owl-carousel/css/owl.theme.css' %}">
{% endblock %}

{% block body %}

{% cache 3600 products-details-nav-and-info product.slug %}
<ol class="breadcrumb">
  <li><a href="{{ category.get_absolute_url }}">{{ category.short_name }}</a></li>
  <li class="active">{{ product.subcategory.name|safe }}</li>
</ol>

<div style="display: block; width: 70%; margin: 10px auto; border-bottom: 2px solid {{ product.subcategory.color }};">
    <h2 class="text-center" style="color:{{ product.subcategory.color }};">{{ product.description|safe }}</h2>
    <h3 class="text-center"><strong>Product ID: {{ product.product_id }}</strong></h3>
  
    {% if product.size or product.weight %}
    <p class="text-center"> 
        {% if product.size %}Dimensions/Size: {{ product.size }}{% endif %}
        {% if product.size and product.weight %} - {% endif %}
        {% if product.weight %}Weight: {{ product.weight }}{% endif %}
    </p>
    {% endif %}
  
    {% endcache %}

    {% if user.is_anonymous %}
    <p class="text-muted text-center">Add to Cart <span class="glyphicon glyphicon-shopping-cart"></span><br> (Login required)</p>
    {% else %}
    <p class="text-center"><a style="color: {{ product.subcategory.color }};" href="{% url 'add-to-cart' category.slug product.id %}">Add to Cart <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
    {% endif %}
</div>

{% cache 3600 products-details-images product.slug %}
<span class="minor-skip"></span>

{% if product.subcategory.long_text %}
<div class="row">  
  <div class="col-md-6">
    {% endif %}    
    {% if images %}
    <div class="owl-carousel">
      {% for image in images %}
      <div>
        <img class="img-responsive img-rounded center-block lazyOwl" data-src="{{ image.get_absolute_url }}" src="{{ image.get_absolute_url }}" alt="{{ image.image_title }}">
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-warning"><span class="glyphicon glyphicon-exclamation-sign"></span> No pictures available</div>
    {% endif %}
    
  {% if product.subcategory.long_text %}    
  </div>
  <div id="{{ product.slug }}-prod-subcat-lt" class="col-md-6">
    {{ product.subcategory.long_text|safe }}     
  </div>  
</div>
{% endif %}

{% endcache %} 
       

{% endblock %}

{% block endbody %}

{% cache 3600 products-details-scripts %}
<!-- Include js plugin -->
<script src="{% static 'owl-carousel/js/owl.carousel.min.js' %}" type="text/javascript" charset="utf-8"></script>

{% compress js inline %}
<script type="text/javascript">
  $(document).ready(function() {
    $(".owl-carousel").owlCarousel({
      singleItem: true,
      itemsScaleUp: false,
      slideSpeed: 1000,
      paginationSpeed: 1500,
      rewindSpeed: 1000,
      autoPlay: true,
      stopOnHover: true,      
      navigation: false,
      scrollPerPage: false,      
      responsiveBaseWidth: '#content',      
      lazyLoad: true,      
      autoHeight: false,
    });
  });
</script>
{% endcompress %}

{% endcache %}

{% endblock %}