{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load base_extras %}
{% load cache %}
{% load i18n %}

{% block pagedescription %}{% trans "Browse the finest quality IVF Laboratory Equipment" %}{% endblock %}
{% block title %}{% trans "Products" %}{% endblock %}

{% block head %}
<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="{% static 'owl-carousel/css/owl.carousel.css' %}">

<!-- Default Theme -->
<link rel="stylesheet" href="{% static 'owl-carousel/css/owl.theme.css' %}">
{% endblock %}

{% block bodytop %}
{% get_current_language as LANGUAGE_CODE %}
{% cache 3600 owl-carousel-min-js-script LANGUAGE_CODE %}
<!-- Include js plugin -->
<script src="{% static 'owl-carousel/js/owl.carousel.min.js' %}" type="text/javascript" charset="utf-8" defer></script>
{% endcache %}
{% endblock %}

{% block body %}

{% if categories %}
<nav id="products-nav" role="navigation">
  {% for cat in categories %}
  {% if forloop.first or forloop.counter0|divisibleby:3 %}<div class="row">{% endif %}
  <div class="col-sm-4 products-nav-cat {% productnavactive request cat.slug %}">
    <a href="{{ cat.get_absolute_url }}">{{ cat.short_name|safe }}</a>
  </div>
  {% if not forloop.first %}{% if forloop.counter|divisibleby:3 or forloop.last %}</div>{% endif %}{% endif %}
  {% endfor %}
</nav>
{% endif %}


<article class="category-article">
  <div class="clearfix"></div>

  {% cache 3600 products-category-article-top category.slug LANGUAGE_CODE %}  
  <hr>
  <h1 class="text-center">{% filter upper %}{{ category.name|safe }}{% endfilter %}</h1>
  <hr>
  {% if category.description %}<p class="text-center"><em>{{ category.description|safe }}</em></p>{% endif %}

  {% with image=category.images.all|first %}
  {% if image %}  
  <section>
    <a href="{{ image.get_hires_url }}" title="{{ image.title }}">
      <img class="img-responsive img-rounded category-img" src="{{ image.get_absolute_url }}">
    </a>
  </section>

  <hr>
  {% endif %}
  {% endwith %}  

  {% if category.long_text %}
  <section class="two-column">
    {{ category.long_text|safe }}
  </section>

  <hr>
  {% endif %}

  {% if category.document %}
  <section>
    <h4 class="text-center"><a style="color: #ed1b2e;" href="{{ category.document.url }}" target="_blank">PDF <span class="glyphicon glyphicon-file"></span></a></h4>
  </section>  
  {% endif %}

  {% endcache %}

  {% with subcats=category.subcategories.all %}
  {% for subcat in subcats %}
  <hr>
  <div>      
    <h2 class="text-center" style="color:{{ subcat.color }};">{% filter upper %}{{ subcat.name|safe }}{% endfilter %}</h2>
    {% if subcat.description %}<p class="text-center" style="padding-top: 25px;"><em>{{ subcat.description|safe }}</em></p>{% endif %}

    {% with image=subcat.images.all|first %}
    {% if image %}  
    <section>
      <a href="{{ image.get_hires_url }}" title="{{ image.title }}">
        <img class="img-responsive img-rounded category-img" src="{{ image.get_absolute_url }}">
      </a>
    </section>
    {% endif %}
    {% endwith %}     

    {% for product in subcat.products.all %}
    {% if forloop.first %}<div id="{{ subcat.slug }}-owl-carousel" class="owl-carousel">{% endif %}
    <div>
      <h4 class="text-center"><a style="color:{{ subcat.color }};" title="{{ product.name }}" href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
      <p class="text-center"><strong>Product ID: {{ product.product_id }}</strong></p>

      {% for image in product.images.all reversed %}
      {% if forloop.first %}
      {% if image %}
      <p>
        <a href="{{ image.get_hires_url }}" title="{{ image.title }}">
          <img class="img-responsive img-rounded product-image lazyOwl" alt="{{ image.image_title }}" src="{{ image.get_absolute_url }}">
        </a>
      </p>
      {% endif %}
      {% endif %}
      {% endfor %}

      {% if user.is_anonymous %}
      <p class="text-muted text-center">Add to Cart <span class="glyphicon glyphicon-shopping-cart"></span><br>({% trans "Login required" %})</p>
      {% else %}
      <p class="text-center">
        <button id="{{ product.pk }}_add" class="btn btn-lg add-to-cart-btn" style="color:{{ subcat.color }};">{% trans "Add to Cart" %} <span class="glyphicon glyphicon-shopping-cart"></span></button>
      </p>

      {% endif %}
    </div>    
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}

  </div>

  {% endfor %}
  {% endwith %}

</article>
{% endblock %}

{% block endbody %}

<script type="text/javascript">
  $(document).ready(function() {    
    var itemsLength = 0;

    {% for subcat in category.subcategories.all %}
    {% if subcat.products.all|length %}
    itemsLength = {{ subcat.products.all|length }};
     if (itemsLength > 4) { itemsLength = 4; }

     $("#{{ subcat.slug }}-owl-carousel").owlCarousel({
       items: itemsLength,
       itemsDesktop: [1199, itemsLength],  
       itemsDesktopSmall: [980, itemsLength],
       singleItem: false,
       itemsScaleUp: false,
       autoPlay: false,   
       scrollPerPage: false,      
       responsiveBaseWidth: '#content',      
       lazyLoad: true,      
       autoHeight: false,
     });

     {% for product in subcat.products.all %}
     $("#{{ product.pk }}_add").click(function() {
       addToCart({{ product.pk }});
     });    
      {% endfor %}

      {% endif %}
      {% endfor %}
      });
</script>

{% endblock %}