{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}
{% load base_extras %}
{% load cache %}

{% block pagedescription %}Browse the finest quality IVF Laboratory equipment{% endblock %}
{% block title %}Products{% endblock %}

{% block head %}
<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="{% static 'owl-carousel/css/owl.carousel.css' %}">

<!-- Default Theme -->
<link rel="stylesheet" href="{% static 'owl-carousel/css/owl.theme.css' %}">
{% endblock %}

{% block bodytop %}
{% cache 3600 owl-carousel-min-js-script %}
<!-- Include js plugin -->
<script src="{% static 'owl-carousel/js/owl.carousel.min.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcache %}
{% endblock %}

{% block body %}

{% if categories %}
<nav id="products-nav" role="navigation">
  <!--<ul class="nav nav-tabs" role="tablist">-->
    {% for cat in categories %}
    {% if forloop.first or forloop.counter0|divisibleby:3 %}<div class="row">{% endif %}
      <div class="col-sm-4 products-nav-cat {% productnavactive request cat.slug %}">
        <a href="{{ cat.get_absolute_url }}">{{ cat.short_name|safe }}</a>
      </div>
    {% if not forloop.first or forloop.last %}{% if forloop.counter|divisibleby:3 or forloop.last %}</div>{% endif %}{% endif %}
    <!--<li {% if not forloop.last %}style="border-right: 1px solid #eee;" {% endif %}class="{% productnavactive request cat.slug %}"><a href="{{ cat.get_absolute_url }}">{{ cat.short_name|safe }}</a></li>-->
    {% endfor %}
  <!--</ul>-->
</nav>
{% endif %}



<article class="category-article">
  <div class="clearfix"></div>
  
  {% cache 3600 products-category-article-top category.slug %}  
  <hr>
  <h1 class="text-center">{{ category.name|safe }}</h1>
  <hr>
  {% if category.description %}<p class="text-center"><em>{{ category.description|safe }}</em></p>{% endif %}
  
  {% if category.document %}
  <section>
    <h4 class="text-center"><a style="color: #ed1b2e;" href="{{ category.document.url }}">PDF <span class="glyphicon glyphicon-file"></span></a></h4>
  </section>  
  {% endif %}
  
  {% if category.long_text %}
  <section class="two-column">
      {{ category.long_text|safe }}
  </section>
  {% endif %}
  
  {% endcache %}

  {% with subcats=category.subcategories.all %}
  {% for subcat in subcats %}
  <hr>
  <div style="margin: 10px auto; padding: 20px 5px;">      
      <h2 class="text-center" style="color:{{ subcat.color }};">{{ subcat.name|safe }}</h2>
      {% if subcat.description %}<p class="text-center"><em>{{ subcat.description|safe }}</em></p>{% endif %}

      {% for product in subcat.products.all %}
      {% if forloop.first %}<div id="{{ subcat.slug }}-owl-carousel">{% endif %}
      <!--<li class="product-item">-->
      <div>
        <h4 class="text-center"><a style="color:{{ subcat.color }};" title="{{ product.name }}" href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
        <p class="text-center"><strong>Product ID: {{ product.product_id }}</strong></p>

        {% for image in product.images.all reversed %}
        {% if forloop.first %}
          {% if image %}
          <p><img class="img-responsive img-rounded product-image lazyOwl" alt="{{ image.image_title }}" src="{{ image.get_absolute_url }}"></p>
          {% endif %}
        {% endif %}
        {% endfor %}

        {% if user.is_anonymous %}
        <p class="text-muted text-center">Add to Cart <span class="glyphicon glyphicon-shopping-cart"></span><br>(Login required)</p>
        {% else %}
        <p class="text-center"><a style="color:{{ subcat.color }};" href="{% url 'add-to-cart' category.slug product.id %}">Add to Cart <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
        {% endif %}
      </div>    
      {% if forloop.last %}</div>{% endif %}
      {% endfor %}
    
    {% cache 3600 products-scripts subcat.slug %}
    {% compress js inline %}
    <script type="text/javascript">
      $(document).ready(function() {
        var itemsLength = {{ subcat.products.all|length }};
        $("#{{ subcat.slug }}-owl-carousel").owlCarousel({
          items: itemsLength,
          itemsDesktop: [1199, itemsLength],  
          itemsDesktopSmall: [980, itemsLength],
          singleItem: false,
          itemsScaleUp: false,
          autoPlay: false,   
          scrollPerPage: false,      
          responsiveBaseWidth: '#content',      
          lazyLoad: true,      
          autoHeight: false,
        });
      });
    </script>
    {% endcompress %}  
    {% endcache %}    
  </div>
  
  {% endfor %}
  {% endwith %}
  
</article>
{% endblock %}