{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Read about the danish company SparMED ApS and its history{% endblock %}
{% block title %}About{% endblock %}


{% block body %}

<h2 class="text-center">About Us</h2>
<hr>

<section class="extra-margin-top extra-margin-bot padding-lr-50">
  <p class="text-justify">
    SparMED is a certified ISO 9001 &amp; ISO 13485 medical device manufacturer from Denmark. We are supplying the safest products for use in IVF laboratories to help increase pregnancy rates around the world. IVF business is very sensitive and requires only the best products which are harmless to oocytes, embryos and sperm. Oosafe&reg; is our registered brand for In Vitro Fertilization use. As mentioned on our catch phrase 'GOosafe in IVF Laboratories', all Oosafe&reg; products are safe and completely fulfill IVF Laboratories requirements.
  </p>
</section>

<hr>

<section class="extra-margin-bot padding-lr-50">
  <h3 class="text-center">USE OF SPARMED PRODUCTS INCREASES SUCCESS RATE</h3>
  <p class="text-center"><em>(Proven by scientific studies)</em></p>

  <hr>

  <p class="text-justify">
    Our Oosafe&reg; products are sold over 80 countries worldwide through our valuable distributors. 
  </p>

  <p class="text-justify">
    SparMED ApS was established in 2007. Between that time and 2013, we have visited more than 50 countries, been participating in all major international congresses and tried to set up our distribution network. Our products have been so successful that we are now selling to over 80 countries. Up until the year 2014, we have successfully launched 9 different Oosafe&reg; products and our brand name has become very well known, as well as our company <strong>SparMED - the reliable company from Denmark</strong>.
  </p>
</section>

<img class="img-responsive center-block extra-margin-top extra-margin-bot" src="{% static 'img/sparmed-about-us-img.jpg' %}" alt="Sparmed Building Mosaic" />


{% endblock %}