{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% block pagedescription %}{% trans "Read about the danish company SparMED ApS and its history" %}{% endblock %}
{% block title %}{% trans "About" %}{% endblock %}

{% block body %}

<h2 class="text-center">
  {% trans "About Us" %}
</h2>
<hr>

<section class="extra-margin-bot padding-lr-50">
  <p class="text-justify">
{% blocktrans %}
SparMED is a registered medical device manufacturer from Denmark with a range of CE marked products. We supply the safest products for use in IVF laboratories to help increase pregnancy rates around the world. IVF business is very sensitive and requires only the best products, which are harmless to oocytes, embryos and sperm. Oosafe® is our registered brand for In Vitro Fertilization use. As mentioned in our catch phrase 'GOosafe in IVF Laboratories', all Oosafe® products are safe and completely fulfill IVF Laboratory requirements.
{% endblocktrans %}
  </p>
</section>

<hr>

<section class="extra-margin-bot padding-lr-50">

  <h3 class="text-center">{% trans "USE OF SPARMED PRODUCTS INCREASES SUCCESS RATE" %}</h3>
  <p class="text-center"><em>({% trans "Proven by scientific studies" %})</em></p>

  <hr>

  <p class="text-justify">
{% blocktrans %}
Our Oosafe® products are sold in over 80 countries worldwide through our valuable distributors. SparMED ApS was established in 2007. Between that time and 2013, we have visited more than 50 countries, been participating in all major international congresses like ASRM, ESHRE, MEFS and ASPIRE, as well as many national ones, to set up our distribution network. Our Oosafe® products have been so successful that we are now selling in over 80 countries. Up until the year 2017, we have successfully launched 10 different Oosafe® products and our brand name has become well known in the IVF field, as has our company.
{% endblocktrans %}
  </p>

  <br>

  <p class="text-center"><strong>{% trans "SparMED - the reliable company from Denmark." %}</strong></p>

  <h3 class="text-center">{% trans "Remember to GO Oosafe<sup>&reg;</sup>" %}</h3>

  <br>

</section>


<img class="img-responsive center-block extra-margin-top extra-margin-bot max-height-600" src="{% static 'img/sparmed-about-us-img.jpg' %}" alt="Sparmed Building Mosaic" />

{% endblock %}