{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Read about the danish company Sparmed ApS and its history{% endblock %}
{% block title %}About{% endblock %}


{% block body %}

<h2 class="text-center">About Us</h2>
<hr>

<p>Sparmed is a Danish company specialised in In Vitro Fertilisation and clean air solutions.</p>

<h3 class="text-center">Description</h3>
<p>Sparmed was founded in 2007 and launched the first product Oosafe&reg; Filter in November 2007. Second product called Oosafe&reg; Air Cleaner was launched in April 2009. Two months after, Oosafe&reg; CUBE, Oosafe&reg; Prefilter and Oosafe&reg; MEA Tested Non-toxic IVF Laboratory Disinfectants followed air cleaner.
We are happy to add Oosafe IVF Laboratory Outfit and Boomerang IVF Laboratory Quality Control System to our product range in June 2010.</p>


{% endblock %}