{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}
{% load base_extras %}

{% block pagedescription %}View and download Sparmed certificates{% endblock %}
{% block title %}Certificates{% endblock %}


{% block body %}
<ol class="breadcrumb">
  <li><a href="{% url 'distributor-login' %}">Distributor Home Panel</a></li>
  <li class="active">Certificates</li>
</ol>


<h2 class="text-center">Certificates and Documents</h2>

<hr>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  {% for group in groups %}
  {% if group.items.all|length %}
  <div class="panel panel-default">

    <div class="panel-heading" role="tab" id="cert_{{ group.pk }}_h">
      <h3 class="text-center panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#cert_{{ group.pk }}_b" aria-expanded="false" aria-controls="cert_{{ group.pk }}_b">
          {% filter upper %}{{ group.title|safe }}{% endfilter %}
        </a>
      </h3>
    </div>

    <div id="cert_{{ group.pk }}_b" class="panel-collapse collapse" role="tab-panel" aria-labelledby="cert_{{ group.pk }}_h">

      {% for subgroup in group.subgroups.all %}
      <div class="panel-body">
        {% if subgroup.title|length > 2 %}    
        <h4><strong>{{ subgroup.title|safe }}</strong></h4>
        {% endif %}
      </div>

      <table class="table table-hover table-bordered table-condensed table-responsive">
        {% for certificate in subgroup.items.all %}
        {% if certificate.document %}
        <tr>
          <td class="td-max-col-width">
            <p class="text-center"><a style="color: #ed1b2e;" href="{{ certificate.document.url }}" target="_blank">PDF <span class="glyphicon glyphicon-file"></span></a></p>
          </td>
          <td>
            {{ certificate.title|safe }}
          </td>
        </tr>
        {% endif %}
        {% endfor %}  
      </table>
      {% endfor %}

    </div> <!-- /panel-collapse -->
  </div><!-- /panel-default -->
  
  {% if not forloop.last %}<hr>{% endif %}
  {% endif %}
  {% endfor %}

</div> <!-- /panel-group -->

{% endblock %}