{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Contact SparMED for the best products for GOosafe IVF Laboratories{% endblock %}
{% block title %}Contact{% endblock %}

{% block body %}

<h2 class="text-center">Contact Us</h2>
<hr>

<div class="row">
  <div class="col-md-6">
    <p>
      <strong>SparMED ApS</strong><br>
      CVR: DK-30 89 85 75<br>
      Address: Toppevadvej 34-38, 3660 Stenløse, DENMARK
    </p>
    
    <p>
      
    <p>
      <strong>Opening Hours:</strong><br>
      Monday - Thursday 7:30 - 16:00<br>
      Friday 7:30 - 13:00
    </p>
    
    <p>
      Phone: <a href="tel:004539402503">(+45) 39 40 25 03</a><br>
      Fax: <a href="fax:004539402564">(+45) 39 40 25 64</a>
    </p>
    
    <p>
      <br>
      General Support: <a href="mailto:info@sparmed.dk">info@sparmed.dk</a><br>
      Sales: <a href="mailto:katrine@sparmed.dk">katrine@sparmed.dk</a> or <a href="mailto:ulrik@sparmed.dk">ulrik@sparmed.dk</a><br>
      Finance: <a href="mailto:agnes@sparmed.dk">agnes@sparmed.dk</a><br>
      IVF and ART: <a href="mailto:evrim@sparmed.dk">evrim@sparmed.dk</a><br>
      Marketing: <a href="mailto:onur@sparmed.dk">onur@sparmed.dk</a><br>
      Regulatory Affairs: <a href="mailto:inesa@sparmed.dk">inesa@sparmed.dk</a><br>
      IT: <a href="mailto:rami@sparmed.dk">rami@sparmed.dk</a>      
    </p>
  </div>
  <div class="col-md-6">
    <p>
      <br>
      <strong>Bank information:</strong><br>
      Danske Bank A/S<br>
      Address: Holmens Kanal 2-12,1092 Copenhagen, Denmark
    </p>
    <p>
      BIC/SWIFT code: DABADKKK<br>
      EUR Account IBAN: DK86 3000 4779 7776 18<br>
      USD Account IBAN: DK98 3000 4779 7775 96<br>
      DKK Account: Regnr.: 3543, Kontonr.: 0011400884
    </p>
    
    <img class="img-responsive center-block max-height-250" src="{% static 'img/heart_logo_img.jpg' %}" alt="Heart Logo">
  </div>
</div>

<hr>

<section style="width:154px; margin: 5px auto; padding: 5px;">
    <div class="addthis_horizontal_follow_toolbox">
    </div>  
</section>

<hr>

<div class="row">
  <div class="col-md-6">
    <article>
      <section id="contact-form">
        {% if feedback %}
        <div class="alert alert-success">
          <p>{{ feedback }}</p>
        </div>
        {% else %}
        <form class="form" role="form" action="{% url 'contact' %}" method="post">
          {% csrf_token %}
          {% bootstrap_field form.sender_name %}
          {% bootstrap_field form.sender %}
          {% bootstrap_field form.cc_myself %}
          {% bootstrap_field form.subject %}
          {% bootstrap_field form.message %}
          <div class="form-group">{{ form.captcha }}</div>
          
          {% buttons submit='Send Message' %}{% endbuttons %}
        </form>
        {% endif %}
      </section>
    </article>
  </div>

  <div class="col-md-6">
    <iframe width="90%"
            height="500px"
            frameborder="0"
            style="border:0px; margin:0px auto; display: block;"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB1uhDdWjtNEl9K35lJtuq5Sw2BjKR8-OM
                 &q=Toppevadvej+34+3660+stenlose+SparMED+ApS">
    </iframe>    
  </div>    
</div>
  
{% endblock %}

{% block endbody %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-521f5a26519ca481" async></script>
{% endblock %}