{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% block pagedescription %}{% trans "Contact SparMED for the best products for GOosafe IVF Laboratories" %}{% endblock %}
{% block title %}{% trans "Contact" %}{% endblock %}

{% block body %}

<h2 class="text-center">{% trans "Contact Us" %}</h2>
<hr>

<div class="row">
  <div class="col-md-6">
    <p>
      <strong>SparMED ApS</strong><br>
      CVR: DK-30 89 85 75<br>
      {% trans "Address" %}: Ryttermarken 2, 3520 Farum, {% trans "DENMARK" %}
    </p>

    <p>

    <p>
      <strong>{% trans "Opening Hours" %}:</strong><br>
      {% blocktrans %}
      Monday - Thursday 7:30 - 16:00<br>
      Friday 7:30 - 13:00
      {% endblocktrans %}
    </p>

    <p>
      {% trans "Phone" %}: <a href="tel:004539402503">(+45) 39 40 25 03</a><br>
    </p>

    <p>
      <br>
      {% trans "General Support" %}: <a href="mailto:info@sparmed.dk">info@sparmed.dk</a><br>
      {% trans "Sales" %}: <a href="mailto:sales@sparmed.dk">sales@sparmed.dk</a><br>
      {% trans "Finance" %}: <a href="mailto:finance@sparmed.dk">finance@sparmed.dk</a><br>
      {% trans "IVF and ART" %}: <a href="mailto:ivf@sparmed.dk">ivf@sparmed.dk</a><br>
      {% trans "Marketing" %}: <a href="mailto:marketing@sparmed.dk">marketing@sparmed.dk</a><br>
      {% trans "Regulatory Affairs" %}: <a href="mailto:ra@sparmed.dk">ra@sparmed.dk</a><br>
      {% trans "Legal" %}: <a href="mailto:legal@sparmed.dk">legal@sparmed.dk</a><br>
      {% trans "Quality Control" %}: <a href="mailto:qc@sparmed.dk">qc@sparmed.dk</a><br>
      {% trans "IT" %}: <a href="mailto:it@sparmed.dk">it@sparmed.dk</a>
    </p>
  </div>
  <div class="col-md-6">
    <p>
      <br>
      <strong>{% trans "Bank information" %}:</strong><br>
      Danske Bank A/S<br>
      {% trans "Address" %}: Holmens Kanal 2-12, 1092 Copenhagen, Denmark
    </p>
    <p>
      {% blocktrans %}
      BIC/SWIFT code: DABADKKK<br>
      EUR Account IBAN: DK86 3000 4779 7776 18<br>
      USD Account IBAN: DK98 3000 4779 7775 96<br>
      DKK Account: Regnr.: 3543, Kontonr.: 0011400884
      {% endblocktrans %}
    </p>

    <img class="img-responsive center-block max-height-250" src="{% static 'img/heart_logo_img.jpg' %}" alt="Heart Logo">
  </div>
</div>

<hr>

<section style="width:154px; margin: 5px auto; padding: 5px;">
    <div class="addthis_horizontal_follow_toolbox">
    </div>
</section>

<hr>

<div class="row">
  <div class="col-md-6">
    <article>
      <section id="contact-form">
        {% if feedback %}
        <div class="alert alert-success">
          <p>{{ feedback }}</p>
        </div>
        {% else %}
        <form class="form" role="form" action="{% url 'contact' %}" method="post">
          {% csrf_token %}
          {% bootstrap_field form.sender_name %}
          {% bootstrap_field form.sender %}
          {% bootstrap_field form.cc_myself %}
          {% bootstrap_field form.subject %}
          {% bootstrap_field form.message %}
          <div class="form-group">{{ form.captcha }}</div>

          {% buttons submit='Send Message' %}{% endbuttons %}
        </form>
        {% endif %}
      </section>
    </article>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.4893232639233!2d12.355738626662063!3d55.819465623079225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465245b3b31f88b1%3A0x3867b20a1db29ac9!2sRyttermarken+2%2C+3520+Farum!5e0!3m2!1sen!2sdk!4v1453927428572"
            width="90%"
            height="500px"
            frameborder="0"
            style="border:0px; margin:0px auto; display: block;"
            allowfullscreen>
    </iframe>
  </div>
</div>

{% endblock %}

{% block endbody %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59cba269419faa29" async></script>
{% endblock %}
