{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Distributors in the GOosafe SparMed family{% endblock %}
{% block title %}Distributors{% endblock %}


{% block body %}

<h2 class="text-center">Distributors</h2>
<hr>

<img class="img-responsive center-block" src="{% static 'img/distributors/world_map_fancy.jpg' %}">

<span class="minor-skip"></span><span class="minor-skip"></span><span class="minor-skip"></span>

<img class="img-responsive center-block" src="{% static 'img/distributors/world_map_plain_blue.jpg' %}">

<span class="minor-skip"></span><span class="minor-skip"></span><span class="minor-skip"></span>

<img class="img-responsive center-block" src="{% static 'img/distributors/world_map_tech_mesh_network.jpg' %}">

{% endblock %}