{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Distributors in the GOosafe SparMed family{% endblock %}
{% block title %}Distributors{% endblock %}

{% block body %}

<h2 class="text-center">Distributors</h2>
<p><br></p>
<hr>

<section>
  <p class="text-center text-dark-blue">
    <strong>      
    SparMED has a premium distributor network spread all over the globe. <br>
    Are you looking for a distributor in your area? Please <a href="{% url 'contact' %}">contact us</a>.
    </strong>
  </p>

  <hr>

  <article id="distributors-map">
    <img id="distributors-map-image" src="{% static 'img/distributors/world_map_full_robproj_2.jpg' %}">
  </article>

  <hr>

  <p class="text-center text-dark-blue">
    <strong>
    Would you like to become one of our distributors and join our world-wide distributor network? <br> <a href="{% url 'contact' %}">CONTACT US</a>
    </strong>
  </p>
</section>

{% endblock %}

{% block endbody %}

{% compress js inline %}
<script type="text/javascript" src="{% static 'js/robinson.js' %}" charset="utf-8"></script>
{% endcompress %}

{% compress js inline %}
<script type="text/javascript">
  var distributors = [
    {% for distributor in distributors %}
    {
      country: "{{ distributor.country }}",
      latitude: {{ distributor.latitude }},
      longitude: {{ distributor.longitude }},
    },
    {% endfor %}
  ];

  function setupDots()
  {   
    $(".map-dot").remove();

    var map = $("#distributors-map-image");
    var mapWidth = map.width();
    var mapHeight = map.outerHeight(true); 
    var robinson = new Robinson(mapWidth, mapHeight, -30, -15);

    distributors.forEach(function(value, index, ar) {          
      var country = value.country;
      var lat = value.latitude;
      var lng = value.longitude;

      var id = country.replace(/\s/g, "").toLowerCase() + "-dot";
      var newDiv = "<div id='" + id + "' class='map-dot'><p>" + country + "</p></div>";
      $("#distributors-map").append(newDiv);

      var p = robinson.projectToCSS(lat, lng);
      $("#" + id).css("top", p.y + "px");
      $("#" + id).css("left", p.x + "px");
    });
  };

  $(window).load(function() {
    window.setTimeout(setupDots, 100);
    $(window).resize(setupDots);
  });

</script>

{% endcompress %}

{% endblock %}