{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Distributors in the GOosafe SparMed family{% endblock %}
{% block title %}Distributors{% endblock %}

{% block bodytop %}
{% compress css inline %}
<style>
    #world-map-container {
        display: block;
        position: relative;
        width: 600px;
        height: 299px;
        margin: 10px auto;
    }
  
    .world-map-continent {
        display: block;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
      
        -webkit-transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -o-transition: 1s ease-in-out;
        transition: 1s ease-in-out;
    }
  
    .world-map-continent:hover {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -o-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
    }
</style>
{% endcompress %}
{% endblock %}

{% block body %}

<h2 class="text-center">Distributors</h2>
<hr>

<img class="img-responsive center-block" src="{% static 'img/distributors/world_map_fancy.jpg' %}">

<span class="minor-skip"></span><span class="minor-skip"></span><span class="minor-skip"></span>

<img class="img-responsive center-block" src="{% static 'img/distributors/world_map_plain_blue.jpg' %}">

<span class="minor-skip"></span><span class="minor-skip"></span><span class="minor-skip"></span>

<img class="img-responsive center-block" src="{% static 'img/distributors/world_map_tech_mesh_network.jpg' %}">

<hr>

<span class="minor-skip"></span><span class="minor-skip"></span><span class="minor-skip"></span><span class="minor-skip"></span><span class="minor-skip"></span><span class="minor-skip"></span>

<section id="world-map-container">
    <img class="world-map-continent" src="{% static 'img/distributors/africa.png' %}">
    <img class="world-map-continent" src="{% static 'img/distributors/asia.png' %}">
    <img class="world-map-continent" src="{% static 'img/distributors/europe.png' %}">
    <img class="world-map-continent" src="{% static 'img/distributors/north_america.png' %}">
    <img class="world-map-continent" src="{% static 'img/distributors/oceania.png' %}">
    <img class="world-map-continent" src="{% static 'img/distributors/south_america.png' %}">
</section>

{% endblock %}