{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Distributor Login{% endblock %}
{% block title %}Distributor Login{% endblock %}


{% block body %}

<h2 class="text-center">Distributor Login</h2>
<hr>

<div class="row">

  <div class="col-sm-4">
      <a class="btn btn-fancy" href="{% url 'online_order' %}">Online Order Sheet</a>
      <a class="btn btn-fancy" href="">View Order History</a>
  </div>
  
  <div class="col-sm-4">
      <a class="btn btn-fancy" href="">View Inventory (Products on Stock)</a>
  </div>
  
  <div class="col-sm-4">
      <a class="btn btn-fancy" href="">View and Download Certificates</a>
  </div>

</div>
  
{% endblock %}