{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Distributor Login{% endblock %}
{% block title %}Distributor Login{% endblock %}


{% block body %}

<h2 class="text-center">Distributor Login</h2>
<hr>

<div class="row">

  <div class="col-sm-4">
      <p class="btn btn-fancy"><a href="{% url 'online_order' %}">Online Order Sheet</a></p>
      <p class="btn btn-fancy"><a href="">View Order History</a></p>
  </div>
  
  <div class="col-sm-4">
      <p class="btn btn-fancy"><a href="">View Inventory (Products on Stock)</a></p>
  </div>
  
  <div class="col-sm-4">
      <p class="btn btn-fancy"><a href="">View and Download Certificates</a></p>
  </div>

</div>
  
{% endblock %}