{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% block pagedescription %}{% trans "Index" %} - {% trans "GOosafe in IVF Laboratories" %}{% endblock %}
{% block title %}{% trans "GOosafe in IVF Laboratories" %}{% endblock %}

{% block head %}
<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="{% static 'owl-carousel/css/owl.carousel.css' %}">

<!-- Default Theme -->
<link rel="stylesheet" href="{% static 'owl-carousel/css/owl.theme.css' %}">
{% endblock %}

{% block outerbody %}

  <h2 class="text-center">
    {% if index_page_model.slogan|length > 2 %}
      {{ index_page_model.slogan|safe }}
    {% else %}
      {% trans "Remember to GO Oosafe" %}<sup>&reg;</sup>
    {% endif %}
  </h2>
  <hr>

  {% if news_posts %}
    <article id="news-container">
      {% for post in news_posts %}
          {% if not post.images or post.images.all|length == 0 %}
              {% include 'news/news_post_no_image.html' %}
          {% elif post.content|length > 2 %}
              {% if forloop.counter0|divisibleby:"2" or forloop.first %}
                  {% include 'news/news_post_left.html' %}
              {% else %}
                  {% include 'news/news_post_right.html' %}
              {% endif %}
          {% else %}
              {% include 'news/news_post_no_text.html' %}
          {% endif %}

          {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    </article>
  {% endif %}

{% endblock %}

{% block endbody %}
<script src="{% static 'owl-carousel/js/owl.carousel.min.js' %}" type="text/javascript" charset="utf-8" defer></script>

<script type="text/javascript">
  $(document).ready(function() {
    $(".owl-carousel").owlCarousel({
      singleItem: true,
      itemsScaleUp: true,
      slideSpeed: 600,
      paginationSpeed: 1200,
      rewindSpeed: 1500,
      autoPlay: true,
      stopOnHover: true,
      navigation: false,
      scrollPerPage: false,
      responsiveBaseWidth: '#content',
      lazyLoad: true,
      autoHeight: false,
    });

    $(".owl-carousel").parent().removeClass('col-sm-height');
  });
</script>

{% endblock %}


