{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Index - GOosafe in IVF Laboratories{% endblock %}
{% block title %}GOosafe in IVF Laboratories{% endblock %}

{% block body %}

<h1 class="text-center">Latest News</h1>

{% if news_posts %}
{% for post in news_posts %}

<article id="{{ post.slug }}">
  <h2 class="text-center">{{ post.title }}</h2>
  <p>Posted on: <time datetime="{{ post.added|date:'c' }}">{{ post.added|date }}</time>.</p>
  <p>{{ post.content|safe }}</p>
  
  {% if post.images %}
  {% for image in post.images.all %}
  
  <img class="img-responsive" src="{{ image.get_absolute_url }}" alt="{{ image.title }}">
  
  {% endfor %}
  {% endif %}
</article>

{% if not forloop.last %}<hr>{% endif %}

{% endfor %}
{% endif %}


{% endblock %}



