{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Index - GOosafe in IVF Laboratories{% endblock %}
{% block title %}GOosafe in IVF Laboratories{% endblock %}

{% block head %}
<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="{% static 'owl-carousel/css/owl.carousel.css' %}">

<!-- Default Theme -->
<link rel="stylesheet" href="{% static 'owl-carousel/css/owl.theme.css' %}">
{% endblock %}

{% block body %}

<h2 class="text-center">Remember to GO Osafe&reg;!</h2>
<hr>
{% if news_posts %}
{% for post in news_posts %}

{# if no text only show picture #}

{% if forloop.counter0|divisibleby:"2" or forloop.first %}
  {% if post.content|length > 2 %}
    {% include 'news/news_post_left.html' %}
  {% else %}
    {% include 'news/news_post_no_text.html' %}
  {% endif %}
{% else %}
  {% if post.content|length > 2 %}
    {% include 'news/news_post_right.html' %}
  {% else %}
    {% include 'news/news_post_no_text.html' %}
  {% endif %}
{% endif %}

{% if not forloop.last %}<hr>{% endif %}

{% endfor %}
{% endif %}


{% endblock %}

{% block endbody %}
<!-- Include js plugin -->
<script src="{% static 'owl-carousel/js/owl.carousel.min.js' %}" type="text/javascript" charset="utf-8"></script>

{% compress js inline %}
<script type="text/javascript">
  $(document).ready(function() {
    $(".owl-carousel").owlCarousel({
      singleItem: true,
      itemsScaleUp: false,
      slideSpeed: 600,
      paginationSpeed: 1200,
      rewindSpeed: 1500,
      autoPlay: true,
      stopOnHover: true,      
      navigation: false,
      scrollPerPage: false,      
      responsiveBaseWidth: '#content',      
      lazyLoad: true,      
      autoHeight: false,
    });
  });
</script>
{% endcompress %}

{% endblock %}


