{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load base_extras %}
{% load cache %}
{% load i18n %}

{% block pagedescription %}{% trans "View SparMED Inventory - all products and their numbers on stock" %}{% endblock %}
{% block title %}{% trans "Inventory" %}{% endblock %}

{% block body %}

<ol class="breadcrumb">
  <li><a href="{% url 'distributor-login' %}">{% trans "Distributor Home Panel" %}</a></li>
  <li class="active">{% trans "Inventory" %}</li>
</ol>

{% cache 6400 sparmed-inventory %}
<article>  
  <h2 class="text-center">{% trans "Inventory" %}</h2>

  <hr>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    {% for category in categories %}
    {% if category.products.all|length %}
    <div class="panel panel-default">

      <div class="panel-heading" role="tab" id="inv_{{ category.slug }}_h">
        <h3 class="panel-title text-center">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#inv_{{ category.slug }}_b" aria-expanded="false" aria-controls="inv_{{ category.slug }}_b">
            {{ category.name|safe }}
          </a>
        </h3>
      </div>

      <div id="inv_{{ category.slug }}_b" class="panel-collapse collapse" role="tab-panel" aria-labelledby="inv_{{ category.slug }}_h">

        {% for subcategory in category.subcategories.all %}
        {% if subcategory.products.all|length %}
        <div class="panel-body">
          <h4>{{ subcategory.name|safe }}</h4>
        </div>

        <table class="table table-hover table-bordered table-condensed table-responsive">
          <tr>
            <th class="td-max-col-width"><p class="text-center">{% trans "Add to Cart" %}</p></th>
            <th class="td-max-col-width"><p class="text-center">{% trans "Quantity" %}</p></th>
            <th class="td-max-150-col-width"><p class="text-center">{% trans "Product ID" %}</p></th>
            <th><p>{% trans "Product Name" %}</p></th>
            <th><p class="text-center">{% trans "In Stock" %}</p></th>
            <th><p class="text-center">{% trans "Available" %}</p></th>
          </tr>

          {% for product in subcategory.products.all %}
            <tr>
              <td class="td-max-col-width">
              <div>
                  <button id="{{ product.pk }}_add" class="btn btn-block btn-lg add-to-cart-btn" style="color:red;"><span class="glyphicon glyphicon-shopping-cart"></span></button>
              </div>
              </td>
              <td>     
                <form>
                    <div class="form-group">
                      <input id="{{ product.pk }}_quantity" class="form-control" name="quantity" type="number" value="1" min="1" required />
                    </div>                  
                </form>
              </td>
              <td>
                <p class="text-center"><a title="View the product details page" href="{{ product.get_absolute_url }}">{{ product.product_id }}</a></p>
              </td>
              <td><p>{{ product.name|safe }}</p></td>
              <td class="td-max-col-width"><p id="{{ product.product_id|slugify }}_instock" class="text-center"></p></td>
              <td class="td-max-col-width"><p id="{{ product.product_id|slugify }}_available" class="text-center"></p></td>
            </tr>          
       
          {% endfor %}
        </table>
        {% endif %}
        {% endfor %}
      </div>
    </div> <!-- /.collapse -->
    
     {% if not forloop.last %}<hr class="compact">{% endif %}  
    
    {% endif %}
    {% endfor %}
    
    <p><br></p>

    <div class="alert alert-warning" role="alert">
      <p class="text-center">
        {% url 'contact' as contact_url %}
        <span class="glyphicon glyphicon-exclamation-sign"></span> 
        {% blocktrans %}
        Can't find the product you're looking for? <a href="{{ contact_url }}">Contact us</a> for information on unlisted products.
        {% endblocktrans %}
      </p>
    </div>

  </div><!-- /#accordion -->
</article>
{% endcache %}
{% endblock %}

{% block endbody %}
{% cache 6400 sparmed-inventory-scripts %}
<script> 
  function fillProducts(response) {
    if (response && response.collection && response.collection.length) {
      response.collection.forEach(function(item) {
        var productNumber = item.productNumber.trim().replace(/[^a-zA-Z0-9-._~]/g, '-').toLowerCase().replace(/^-+/, '').replace(/-+$/, '').replace(/-+/g, '-');
        
        var instockElem = $("#" + productNumber + "_instock");
        if ($(instockElem).length) {
            instockElem.empty();
            instockElem.text(item.inventory.inStock > 0 ? Math.floor(item.inventory.inStock) : 0);
        }
        
        var availableElem = $("#" + productNumber + "_available");
        if ($(availableElem).length) {
            availableElem.empty();
            availableElem.text(item.inventory.available > 0 ? Math.floor(item.inventory.available) : 0);
        }
      });
    }
  }

  $(document).ready(function () {
    $.ajax({
      url: "https://restapi.e-conomic.com/products?pagesize=999",
      dataType: "json",
      headers: {appId: 'OxKf30TPeqqDj3JXyOKYcK027-wO5ydYvcMr08Q_B9M1', accessId: 'vshDszEegEPEpLm8_uV0NwVWtfOSlviMuUlmSBVxip01'},
      type: "GET",
      success: fillProducts,
      fail: function (req, res) {
        console.log("error request:");
        console.log(req);
        console.log("response:");
        console.log(res);
      }
    });  
    
    {% for category in categories %}
    {% for product in category.products.all %}    
    $("#{{ product.pk }}_add").click(function() {
      quantity = $("#{{ product.pk }}_quantity").val();
      addToCart({{ product.pk }}, quantity);
    });       
    {% endfor %}
    {% endfor %}
    
  });
</script>
{% endcache %}
{% endblock %}