{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load base_extras %}
{% load i18n %}

{% block pagedescription %}{% trans "Privacy Policy" %} - {% trans "SparMED ApS privacy policy" %}{% endblock %}
{% block title %}{% trans "Privacy Policy" %}{% endblock %}


{% block body %}
<h2 class="text-center">{% trans "Privacy Policy" %}</h2>

<hr>

<article>
  <section>
    <h3>{% trans "Collection of Information" %}</h3>
    <p>
      {% blocktrans %}
      Since we collect and handle some personal data when you visit or log into our website, we have created this privacy policy, which briefly explains how we handle personal data in a secure, fair and transparent manner.<br><br>
      We only collect and handle personal data for specific and legitimate purposes related to our business.  We handle only personal data that is relevant and necessary for these purposes, and the data is deleted when it is no longer needed.<br><br>
      SparMED is dedicated to the responsible handling of personal data and works to ensure that your personal data is collected and handled in a manner compliant with the law.
      {% endblocktrans %}
    </p>

    <hr>

    <h3>{% trans "Who is responsible for your personal data? " %}</h3>

    <p>
      {% blocktrans %}
      Contact Information for SparMED ApS (responsible for your personal data – the data collector).<br>
      Address:	Ryttermarken 2, 3520 Farum<br><br>

      Opening Hours:<br>
      Monday - Thursday 7:30 - 16:00<br>
      Friday 7:30 - 13:00<br><br>

      CVR:		30898575<br>
      Telephone:	39 40 25 03<br>
      Mail:   <a href="mailto:admin@sparmed.dk" target="_top">admin@sparmed.dk</a><br>
      Website:	<a href="http://www.sparmed.dk/en/" target="_blank">www.sparmed.dk</a>.<br>

      {% endblocktrans %}
    </p>
  </section>

  <hr>

  <section>

    <h3>{% trans "Use of Information" %}</h3>

    <p>
      {% blocktrans %}
      We use the information you provide in a manner that is consistent with this Privacy Policy. If you provide information for a certain reason, we may use the information in connection with the reason for which it was provided. For instance, if you contact us by email, we will use the information you provide to handle your inquiry. Also, if you provide information in order to obtain access to our services, for example by ordering through our website, we will use your information to provide you with access to such services and to monitor your use of such services. Our company may also use your information collected through such services to help us improve the content and functionality of the services, to better understand our users and to improve customer service.<br><br>
      If you provide us with personal information (your name, your company name, bank information, postal address, telephone number, email address, etc.), or have done so in the past, via email, or via our website, publications, or surveys, we may use that information to send you updates on our latest services and promotions, to contact you so that we may learn more about our customers, or for any and all marketing purposes.

      {% endblocktrans %}
    </p>

    <hr>

    <h3>{% trans "Purposes for Use of Information and Data" %}</h3>

    <p>
      {% blocktrans %}
      We handle your personal data for specific reasons, and for which there is a legal basis.<br>Particular legal grounds for data handling:
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
      - Business-related usage of personal information<br>
	    - When it is necessary to complete a transaction with you<br>
	    - Usage after legal requirement<br>
      - Usage after consent<br>
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
      <u>Purposes:</u><br>
      <p>
      1)	For the purpose of handling customer information<br>
          - As part of fulfilling customer requests/orders<br>
          - As part of SparMED ApS complying with legal requirements
     </p>
     <p>
     2)	For the purpose of handling supplier information<br>
          - In the instance that a supplier shall deliver/products or services to SparMED ApS<br>
          - As part of the order, receiving, payment or eventual return of supplier products and services
     </p>
     <p>
     3)   For the purpose of handling data related to employment applications<br>
          - In the instance of applying for an open vacancy or an unsolicited application<br>
     	    - In the instance an applicant shall arrange an interview<br>
       	  - In the instance an applicant is offered a position
     </p>
     <p>
     4)   For the purpose of handling employee information<br>
          -  Handling of employee relations<br>
          -  Fulfillment of legal requirements<br>
          -  Payment of salary, allowances, refunds and the like
     </p>
     <p>
    5)  For the purpose of handling information related to visits to www.sparmed.dk<br>
          - Contact details received through our website
     </p>
      {% endblocktrans %}
    </p>

    <hr>

    <h3>{% trans "Our Disclosure of Your Information" %}</h3>

    <p>
      {% blocktrans %}
      The Company is not in the business of selling your information. We consider this information to be a vital part of our relationship with you. There are, however, certain circumstances in which we may share your information with certain third parties, as set forth below:<br>
      <u>Business Transfers:</u> As we develop our business, we might sell or buy businesses or assets. In the event of a corporate sale, merger, reorganization, bankruptcy, dissolution or similar event, your information may be part of the transferred assets.<br>
      <u>Consent:</u> We may transfer your information without your consent. Most often, our processing of your personal data will be based on a different legitimate basis than consent. <br>
      We therefore only collect your consent when it is rarely necessary to process your personal information for one or more of the purposes described above.<br>
      <u>Agents, Consultants and Related Third Parties:</u> Like many businesses, we sometimes hire other companies or individuals to perform certain business-related functions. Examples of such functions include mailing information, maintaining databases and processing payments.<br>
      <u>Legal Requirements:</u> We may disclose your information if required to do so by law or in the good faith belief that such action is necessary to (i) comply with a legal obligation, (ii) protect and defend the rights or property of the Company or Related Companies, (iii) protect the personal safety of users of the Products and Services or the public, or (iv) protect against legal liability.

      {% endblocktrans %}
    </p>

    <hr>

    <h3>{% trans "Storage and deletion of your personal information" %}</h3>

    <p>
      {% blocktrans %}
      We have different treatment and storage periods for your personal information depending on whether you are a customer, as a jobseeker, an employee or a visitor to www.sparmed.dk:<br>
      <p><u>Customers:</u><br>
      The storage period is determined in accordance with the Bookkeeping Act. In this context it may be disclosed that personal information is deleted 5 years after the end of the cooperation.</p>

      <p><u>Job applicants:</u><br>
      We store your personal information in accordance with the following criteria:<br>
      - All received personal information will be deleted after a senior employee has read them unless SparMED ApS initiates a job interview within 1 month.<br>
      - Job applications that do not result in an appointment are deleted immediately.</p>

      <p><u>Employees:</u><br>
      We store your personal information for a period from the termination of the employment relationship and in accordance with the following criteria:<br>
      - Billing attachment, including e.g. wage bill must be stored for 5 years from the end of the financial year to which the Annex relates.<br>
      - Other relevant information for follow-up and consideration of any requirements are stored for 5 years after the work has ended.<br>
      <u>Visitors at www.sparmed.dk:</u><br>
      - Contact information received from you on our website is saved for 5 years</p>

      {% endblocktrans %}
    </p>

    <hr>

    <h3>{% trans "Your rights" %}</h3>

    <p>
      {% blocktrans %}
      You have a number of special rights when we process personal information about you:<br>
       The right to be informed about the processing of data<br>
      &#9679; The right to access personal data<br>
      &#9679; The right to rectification<br>
      &#9679; The right to delete<br>
      &#9679; The right to limit treatment<br>
      &#9679; The right to data portability (data delivery in a commonly used format)<br>
      &#9679; The right of objection
      <p>You may make use of your rights, including objections to our treatment, by contacting us. You can find our contact information at the top.<br>
      For example, if you request us to correct or delete your personal information, we will investigate whether the conditions are met and, in that case, make changes or deletions as soon as possible.<br>
      You have the opportunity to complain about the processing of information and data regarding you. Complaints are filed with the Data Inspectorate. In this context we refer to the Data Inspectorate's website www.datatilsynet.dk.</p>

      {% endblocktrans %}
    </p>

    <hr>

    <h3>{% trans "Unsolicited Information" %}</h3>

    <p>
      {% blocktrans %}
      You may provide us with ideas for new products or modifications to existing products, and other unsolicited submissions (collectively, “Unsolicited Information”). All Unsolicited Information shall be deemed to be non-confidential and we shall be free to reproduce, use, disclose, and distribute such Unsolicited Information to others without limitation or attribution.

      {% endblocktrans %}
    </p>

    <hr>

    <h3>{% trans "Children" %}</h3>

    <p>
      {% blocktrans %}
      Our Services are for users age 13 and over and we do not knowingly collect personal information from children under the age of 13. If you are a parent or guardian of a child under the age of 13 and believe he or she has disclosed personal information to us, please contact us at <a href="mailto:admin@sparmed.dk" target="_top">admin@sparmed.dk</a><br>. For residents of the EEA, where processing of personal information is based on consent, SparMED will not knowingly engage in that processing for users under the age of consent established by applicable data protection law. If we learn that we are engaged in that processing with such users, we will halt such processing and will take reasonable measures to promptly remove applicable information from our records.

      {% endblocktrans %}
    </p>

    <hr>

    <h3>
      {% trans "Access and correction of your information" %}
    </h3>

    {% url 'contact' as contact_url %}

    <p>
      {% blocktrans %}
      You have the right to request a copy of the information that we hold on our business systems about you. If you wish to obtain a copy of this information please <a href="{{ contact_url }}">contact us</a>, or write to us at this address:
      {% endblocktrans %}
    </p>

    <p>
      SparMED ApS<br>
      Ryttermarken 2,<br>
      3520 Farum,<br>
      {% trans "Denmark" %}
    </p>

    <p>
      {% blocktrans %}
      We want to make sure that the information we hold is as accurate and up to date as possible. We welcome any request to change or remove information that you think may be inaccurate.
      {% endblocktrans %}
    </p>
  </section>

  <hr>

  <section>
    <h3>{% trans "Technologies we use" %}</h3>

    <h5><strong>{% trans "Google Analytics" %}</strong></h5>
    <p>
      {% blocktrans %}
      We use Google Analytics with anonymized IPs for understanding your behaviour on our website, and for simply knowing how many visit our website. You can read <a href="https://support.google.com/analytics/answer/6004245" target="_blank">Google's privacy terms</a>. You can <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">opt-out from Google Analytics tracking</a>. Google Analytics tracks your behaviour on our website.
      {% endblocktrans %}
    </p>

    <h5><strong>{% trans "AddThis" %}</strong></h5>
    <p>
      {% blocktrans %}
      We use services from AddThis.com to provide our social sharing and following buttons on our website. You can read <a href="//www.addthis.com/privacy" target="_blank">AddThis' privacy terms</a>. AddThis uses cookies and asks for your social media login on interaction.
      {% endblocktrans %}
    </p>

    <h5><strong>{% trans "Heroku" %}</strong></h5>
    <p>
      {% blocktrans %}
      We use Heroku for hosting our website. You can read <a href="//www.heroku.com/policy/privacy" target="_blank">Heroku's privacy terms</a>.
      {% endblocktrans %}
    </p>

    <h5><strong>{% trans "SendGrid" %}</strong></h5>
    <p>
      {% blocktrans %}
      We use SendGrid for the automatically generated email sent when you click 'send' in the contact form or when you place an order online. You can read <a href="//sendgrid.com/tos" target="_blank">SendGrid's privacy policy</a>. The contact form requires you to write your name and email address.
      {% endblocktrans %}
    </p>

    <h5><strong>{% trans "NewRelic" %}</strong></h5>
    <p>
      {% blocktrans %}
      We use NewRelic for monitoring our server, analyzing performance and reporting errors. You can red <a href="//newrelic.com/privacy" target="_blank">NewRelic's privacy policy</a>. NewRelic uses cookies and monitors part of your behaviour on our site.
      {% endblocktrans %}
    </p>
  </section>

  <hr>

  <section>
    <h3>{% trans "Links to Other Websites" %}</h3>
    <p>
      {% blocktrans %}
      This Privacy Policy applies only to SparMED’s ApS products and services. The website may contain links to other websites not operated or controlled by us (the “Third Party Sites”). The policies and procedures we described here do not apply to the Third-Party Sites. The links to other websites do not imply that we endorse or have reviewed the Third-Party Sites. We suggest contacting those sites directly for information on their privacy policies.
      {% endblocktrans %}
    </p>
  </section>

  <hr>

  <section>
    <h3>{% trans "Changes to this Privacy Policy" %}</h3>
    <p>
      {% blocktrans %}
      We reserve the right to update or modify this Privacy Policy at any time, and from time to time, without prior notice. Please review this policy periodically, and especially before you provide any information. This Privacy Policy was last updated on <b>May 25, 2018</b>. Your continued use of our website or services after any changes or revisions to this Privacy Policy shall indicate your agreement with the terms of such revised Privacy Policy.
      {% endblocktrans %}
    </p>
  </section>

  <hr>
<h3>{% trans "Contacting Us" %}</h3>
    <p>
      {% blocktrans %}
      Please also feel free to contact us if you have any questions about this Privacy Policy or the information practices of the Services. You may contact us as follows: <a href="mailto:admin@sparmed.dk" target="_top">admin@sparmed.dk</a><br>
      {% endblocktrans %}
    </p>
  </section>
</article>

{% endblock %}
