{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load base_extras %}
{% load i18n %}

{% block pagedescription %}{% trans "Privacy Policy" %} - {% trans "SparMED ApS privacy policy" %}{% endblock %}
{% block title %}{% trans "Privacy Policy" %}{% endblock %}


{% block body %}
<h2 class="text-center">{% trans "Privacy Policy" %}</h2>

<hr>

<article>
  <section>
    <h3>{% trans "Collection of information" %}</h3>
    <p>
      {% blocktrans %}
      We collect information about you when you visit or log in to our website, place an order or enquire a service from us. Information about your use of our website may be captured using cookies or by other means (e.g. Google Analytics).
      {% endblocktrans %}
    </p>

    <hr>

    <h3>{% trans "Cookies" %}</h3>

    <p>
      {% blocktrans %}
      A cookie is a small file which is placed on your computer’s hard drive. Cookies allow web applications to respond to you as an individual. The web application can improve its operations to your needs, likes and dislikes by gathering and remembering information about your preferences. Cookies are used for these purposes as a form of storing individual, anonymous data.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
      We use traffic log cookies and Google Analytics (see more below) to identify which pages are being used, how and when. This helps us analyse data about web page traffic and improve our website and services in order to improve the user experience. We only use this information for statistical analysis purposes internally.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
      Overall, cookies help us provide you with a better website and service, by tailoring the experience uniquely to you.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
      You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser settings to decline cookies if you prefer. This may prevent you from taking full advantage of this and other websites.
      {% endblocktrans %}
    </p>
  </section>

  <hr>

  <section>

    <h3>{% trans "How will we use this information about you?" %}</h3>

    <p>
      {% blocktrans %}
      If you provide us with personal information (your name, your company name, postal address, telephone, email address), or have done so in the past, via our websites, our publications or surveys, we may use that information to send you updates on our latest services and promotions, contact you so that we may learn more about our customers, or for any and all marketing purposes. We will never share your information with anyone inappropriate.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
      We may use your data to collate and create an information database of visitors to our website in order to improve our website and our service, and to provide the most relevant services and information to you.
      {% endblocktrans %}
    </p>

    <hr>

    <h3>{% trans "Marketing" %}</h3>

    <p>
      {% blocktrans %}
      If at any time you wish to opt out of any email marketing communications from us, please click the ‘unsubscribe’ link at the foot of the email in question or contact us.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}
      If you have previously agreed to us holding or using your personal information for marketing purposes, you may change your mind at any time by contacting us.
      {% endblocktrans %}
    </p>

    <hr>

    <h3>
      {% trans "Access and correction of your information" %}
    </h3>

    {% url 'contact' as contact_url %}

    <p>
      {% blocktrans %}
      You have the right to request a copy of the information that we hold on our business systems about you. If you wish to obtain a copy of this information please <a href="{{ contact_url }}">contact us</a>, or write to us at this address:
      {% endblocktrans %}
    </p>

    <p>
      SparMED ApS<br><br>
      Ryttermarken 2,<br>
      3520 Farum,<br>
      {% trans "Denmark" %}
    </p>

    <p>
      {% blocktrans %}
      We want to make sure that the information we hold is as accurate and up to date as possible. We welcome any request to change or remove information that you think may be inaccurate.
      {% endblocktrans %}
    </p>
  </section>

  <hr>

  <section>
    <h3>{% trans "Technologies we use" %}</h3>

    <h5><strong>{% trans "Google Analytics" %}</strong></h5>
    <p>
      {% blocktrans %}
      We use Google Analytics with anonymized IPs for understanding your behaviour on our website, and for simply knowing how many visit our website. You can read <a href="//www.google.com/analytics/learn/privacy.html" target="_blank">Google's privacy terms</a>. You can <a href="//tools.google.com/dlpage/gaoptout?hl=en" target="_blank">opt-out from Google Analytics tracking</a>. Google Analytics tracks your behaviour on our website.
      {% endblocktrans %}
    </p>

    <h5><strong>{% trans "AddThis" %}</strong></h5>
    <p>
      {% blocktrans %}
      We use services from AddThis.com to provide our social sharing and following buttons on our website. You can read <a href="//www.addthis.com/privacy" target="_blank">AddThis' privacy terms</a>. AddThis uses cookies and asks for your social media login on interaction.
      {% endblocktrans %}
    </p>

    <h5><strong>{% trans "Heroku" %}</strong></h5>
    <p>
      {% blocktrans %}
      We use Heroku for hosting our website. You can read <a href="//www.heroku.com/policy/privacy" target="_blank">Heroku's privacy terms</a>.
      {% endblocktrans %}
    </p>

    <h5><strong>{% trans "SendGrid" %}</strong></h5>
    <p>
      {% blocktrans %}
      We use SendGrid for the automatically generated email sent when you click 'send' in the contact form or when you place an order online. You can read <a href="//sendgrid.com/tos" target="_blank">SendGrid's privacy policy</a>. The contact form requires you to write your name and email address.
      {% endblocktrans %}
    </p>

    <h5><strong>{% trans "NewRelic" %}</strong></h5>
    <p>
      {% blocktrans %}
      We use NewRelic for monitoring our server, analyzing performance and reporting errors. You can red <a href="//newrelic.com/privacy" target="_blank">NewRelic's privacy policy</a>. NewRelic uses cookies and monitors part of your behaviour on our site.
      {% endblocktrans %}
    </p>
  </section>

  <hr>

  <section>
    <h3>{% trans "Children under 13 years of age" %}</h3>
    <p>
      {% blocktrans %}
      We do not knowingly collect or solicit Personally Identifiable Information from or about children under 13 except as permitted by law. If we discover that we have received any information from a child under 13 in violation of this policy, we will delete that information immediately. If you believe SparMED has any information from or about anyone under 13, please <a href="{{ contact_url }}">contact us</a>.
      {% endblocktrans %}
    </p>
  </section>

  <hr>

  <section>
    <h3>{% trans "Website Owner" %}</h3>
    <p>
      {% blocktrans %}
      This website is owned by SparMED ApS, based and registered in Denmark. CVR: DK-30 89 85 75. The website was developed by <a href="//AlphaStageStudios.com" target="_blank">Alpha Stage Studios I/S</a>.
      {% endblocktrans %}
    </p>
  </section>

  <hr>

  <section>
    <h3>{% trans "Consent" %}</h3>
    <p>
      {% blocktrans %}
      Your use of this site, in any and all forms, constitutes an acceptance of this Privacy Policy.
      {% endblocktrans %}
    </p>
  </section>

  <hr>

  <section>
    <h3>{% trans "Links to other websites" %}</h3>

    <p>
      {% blocktrans %}
      Our website may contain links to other websites. This privacy policy only applies to this website. If you follow a link to another website, please read the privacy policies of that respective website.
      {% endblocktrans %}
    </p>

    <hr>

    <h3>{% trans "Changes to our privacy policy" %}</h3>

    <p>
      {% blocktrans %}
      We review our privacy policy on a regular basis, and will make any updates on this website as the need arises. This privacy policy was last updated on the 10th of July 2015.
      {% endblocktrans %}
    </p>

    <hr>

    <p>
      {% blocktrans %}
      Please contact us if you have any questions about our privacy policy or the information we hold about you.
      {% endblocktrans %}
    </p>
  </section>
</article>

{% endblock %}
