{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}
{% load base_extras %}

{% block pagedescription %}Privacy Policy - SparMED ApS privacy policy{% endblock %}
{% block title %}Privacy Policy{% endblock %}


{% block body %}
<h2 class="text-center">Privacy Policy</h2>

<article>
  <section>
    <h3>Collection of information</h3>
    <p>
      We collect information about you when you purchase a product or service from us. Information about your use of our website may be captured using cookies.
    </p>

    <h3>Cookies</h3>

    <p>
      A cookie is a small file which asks permission to be placed on your computer’s hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can improve its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.
    </p>

    <p>
      We use traffic log cookies to identify which pages are being used. This helps us analyse data about web page traffic and improve our website and services in order to improve the user experience. We only use this information for statistical analysis purposes and then the data is removed from the system.
    </p>

    <p>
      Overall, cookies help us provide you with a better website and service, by enabling us to monitor which pages you find useful and which you do not.
    </p>

    <p>
      You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.
    </p>
  </section>
  <section>

    <h3>How will we use this information about you?</h3>

    <p>
      If you provide us with personal information (your name, postal address, telephone, email address), or have done so in the past, via our websites, our publications or surveys, we may use that information to send you updates on our latest services and promotions, contact you so that we may learn more about our customers, or for other marketing purposes.
    </p>

    <p>
      We may use your data to collate and create an information database of visitors to our website in order to improve our website and our service and to provide relevant services and information to you.
    </p>

    <h3>Marketing</h3>

    <p>
      If at any time you wish to opt out of any email marketing communications from us, please click the ‘unsubscribe’ link at the foot of the email in question.
    </p>

    <p>
      If you have previously agreed to us holding or using your personal information for marketing purposes, you may change your mind at any time by emailing us.
    </p>

    <h3>
      Access and correction of your information
    </h3>

    <p>
      You have the right to request a copy of the information that we hold on our business systems about you. If you wish to obtain a copy of this information please email us, or write to us at this address:
    </p>

    <p>
      SparMED ApS<br><br>

      Toppevadvej 34-38,<br>
      3660 Stenløse,<br>
      Denmark
    </p>

    <p>
      We want to make sure that the information we hold is as accurate and up to date as possible. We welcome any request to change or remove information that you think is inaccurate.
    </p>
  </section>
  <section>
    <h3>Links to other websites</h3>

    <p>
      Our website may contain links to other websites. This privacy policy only applies to this website. When you link to other websites, please read the privacy policies of the respective website.
    </p>

    <h3>Changes to our privacy policy</h3>

    <p>We review our privacy policy on a regular basis, and will make any updates on this website. This privacy policy was last updated on the 29th of September 2014.</p>

    <p>Please contact us if you have any questions about our privacy policy and the information we hold about you.</p>
  </section>
</article>

{% endblock %}