{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load base_extras %}
{% load i18n %}

{% block pagedescription %}{% trans "Terms and Conditions" %} - {% trans "SparMED ApS terms and conditions" %}{% endblock %}
{% block title %}{% trans "Terms and Conditions" %}{% endblock %}


{% block body %}
<h2 class="text-center">{% trans "Terms and Conditions" %}</h2>

<hr>

<p>
  {% blocktrans %}
This website is provided by SparMED ApS for information purposes only. By using this Web site or downloading information from this Web site, you agree to abide by the following terms and conditions:
  {% endblocktrans %}
</p>

<hr>

<p><strong>{% trans "Copyright" %}</strong></p>
<p>
  {% blocktrans %}
Copyright in the pages, screens, information, and all material in their arrangement, included in the Site is owned by or licensed to SparMED ApS unless otherwise noted.<br>
You may view and download the information at this Web site only for your personal, non-commercial use, unless otherwise agreed.<br>
You may not alter or otherwise make any changes to any material that you print or download from the Site, including, without limitation, removing any identifying marks or legends from such material.<br>
You may not distribute these materials to others, unless otherwise agreed.<br>
Any other use is prohibited unless you first request and obtain our written permission. In particular no one may use a part of the Site, or link any other website to the Site, without our prior written permission.
  {% endblocktrans %}
</p>

<hr>

<p><strong>{% trans "Third Party Providers" %}</strong></p>
<p>
  {% blocktrans %}
Content from a third party provider available on or through the Site may not be duplicated, distributed, published, transferred, transmitted, copied, altered, sold, used to create derivative works or otherwise misused. You must comply with all terms disclosed to you as required from time to time by any third party supplier of data or services to the Site, including but not limited to, where necessary, entering into a direct agreement with such third party in respect of your use of their data.
  {% endblocktrans %}
</p>

<hr>

<p><strong>{% trans "Misuse of the Site" %}</strong></p>
<p>
  {% blocktrans %}
You may not use the Site for any purpose which is unlawful, abusive, libellous, obscene or threatening.
  {% endblocktrans %}
</p>

<hr>

<p><strong>{% trans "Changes" %}</strong></p>
<p>
  {% blocktrans %}
The information, material and content provided in the pages of this Site may be changed at any time without notice. We may make changes to these Terms and Conditions at any time without notice to you by updating the posting of the Terms and Conditions.
  {% endblocktrans %}
</p>

<hr>

<p><strong>{% trans "Disclaimer" %}</strong></p>
<p>
  {% blocktrans %}
This site may contain typographical errors and/or inaccuracies. The site and information contained within it are provided “as is” without any representation or warranty, express or implied, of any kind. Any reliance on information contained within this site shall be at your sole risk.
SparMED obligations with respect to its products and services are governed solely by the agreements under which they are provided and nothing on this site should be construed to alter such agreements. SparMED further does not warrant the accuracy and completeness of the materials at this site. Some jurisdictions do not allow for the exclusion of implied warranties, so the above exclusions may not apply to you.
  {% endblocktrans %}
</p>

<hr>

<p><strong>{% trans "Limitation of Liability" %}</strong></p>
<p>
  {% blocktrans %}
IN NO EVENT SHALL WE BE LIABLE FOR ANY DAMAGES, LOSSES OR LIABILITIES INCLUDING WITHOUT LIMITATION, DIRECT OR INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL DAMAGES, LOSSES OR LIABILITIES, IN CONNECTION WITH YOUR USE OF THE SITE OR YOUR RELIANCE ON OR USE OR INABILITY TO USE THE INFORMATION, MATERIALS, PRODUCTS AND SERVICES ON THE SITE, OR IN CONNECTION WITH ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS OR LINE OR SYSTEM FAILURE, EVEN IF YOU ADVISE US OF THE POSSIBILITY OF SUCH DAMAGES, LOSSES OR EXPENSES.
  {% endblocktrans %}
</p>

<h2 class="text-center">{% trans "Warranty, Return and Repair Policies" %}</h2>

<hr>

<p><strong>{% trans "Product Warranty" %}</strong></p>
<p>
  {% blocktrans %}
  SparMED warrants that the goods referenced in the product warranty list below are free of defects in title and material when delivered to the customer. Goods shall substantially conform to the specifications published by SparMED (on SparMED’s website or in the marketing material provided). Under normal use with correct storage and service, every product will be free from physical defects in material and workmanship during the warranty period, or the product will be repaired / replaced / refund or discount will be issued as agreed between SparMED and the customer. SparMED provides a warranty for its products only to the person or entity that originally purchased the product from SparMED or its authorized distributor or retailer.
  The warranty and remedies provided in this paragraph shall apply to the exclusion of any other warranties (express or implied, including the warranties of merchantability and fitness for a particular purpose) or remedies that might otherwise be available under regional laws.
  No warranty, representation, or guarantee is made by SparMED as a result of the delivery of any sample, prototype, product information sheet, sale or marketing material, custom, trade practice, or verbal / written statement made by a representative of SparMED.
  The warranty where applicable (See: Product Warranty List) is valid for a period of 12 months (1 year) from the invoicing date.
  In addition, SparMED declared that Oosafe® Disposable products (Oosafe® IVF tested Plasticware for IVD use; Oosafe® Disinfectants; Oosafe® Filters; Oosafe® Cryoware; Oosafe® Garments) are not covered by any warranty.
  However, Oosafe® Disposables and Oosafe® Equipment can be returned and repaired / replaced / receive a refund / discount within 14 days after reception of the goods if:
  •	SparMED delivered nonconforming products
  •	Ordered too many products
  •	Products are damaged
  •	Not entirely satisfied with products
  •	Other reasons (if communicated and agreed upon by SparMED in a timely manner)
  {% endblocktrans %}
</p>

<hr>

<p><strong>{% trans "Product Warranty List" %}</strong></p>
<p>
  {% blocktrans %}

  {% endblocktrans %}
</p>

<hr>

<p><strong>{% trans "Warranty does not apply, if:" %}</strong></p>
<p>
  {% blocktrans %}
  	The warranty period is expired
  	The product label is broken, removed or illegible
  	The lot no. / serial number label is missing or unrecognizable
  	The product has been modified or repaired by any unauthorized service centre or personnel
  	The defect was caused by abuse, improper use, storage or actions in any way not conforming to the product(s)’ manual instructions, or environmental conditions more severe than those specified in the manual and specifications
  	The defect was caused by Force Majeure

  Fees for failures will be established after thoroughly analysing the faulty product by Quality Control Department. The customer shall be informed by SparMED regarding the costs and the customer shall decide whether the product shall be repaired or not.
  {% endblocktrans %}
</p>

<hr>

<p><strong>{% trans "IN CASE OF RETURN" %}</strong></p>
<p>
  {% blocktrans %}
  After SparMED communicates its acceptance of a case the customer has 5 working days to arrange the dispatch of goods. (See Return goods instructions)
  All products must be in the same condition as when shipped out from SparMED. Pictures will be taken in advance for the purpose of traceability and as proof of the order(s) status when leaving SparMED’s warehouse.
  All cost incurred with such a return will be invoiced to the customer unless otherwise agreed, i.e.:
  	Transportation cost when shipping the goods back to SparMED (and if deemed out of warranty with no replacement or rectification of issue agreed, handling & return cost).
  	Taxes arising in regard to the order (e.g. if the customer is not an EU member).
  	Damage to goods that occur during transportation both from SparMED to customer/ customer to SparMED if no insurance was purchased. The sender must assume all responsibility for damages.
  	SparMED will not be responsible for units damaged in transit or shipped to the incorrect address.
  	SparMED will not accept COD (cash on delivery) or bill to receiver shipments. Inbound shipments must be prepaid by sender.
  	Discounted Products are non-returnable or refundable unless otherwise stated.
  In the event that any order shipped by SparMED delivers any non-conforming goods, SparMED will, at its discretion implement one (or a combination) of the following option:
  •	repair the nonconforming goods
  •	provide a free replacement
  •	grant you an appropriate credit note
  •	offer a reduction in price if agreed upon
  Any of these alternatives will be decided by SparMED in conjunction with the customer, however SparMED reserves the right to make the final decision. This shall be the sole and exclusive remedy in the event of delivery of non-conforming goods. SparMED shall not be liable to the customer or any other party for any other damages, directly or indirectly incurred.
  If parcel is visibly destroyed, please take photos of the parcel before opening it. These photos will be needed as a proof of bad delivery and can be use for insurance claiming reasons, regardless if customer or SparMED will handle the complaint.
  {% endblocktrans %}
</p>


<hr>

<p><strong>{% trans "RETURN GOODS INSTRUCTIONS" %}</strong></p>
<p>
  {% blocktrans %}
  Should you return one of the products above to SparMED, you must first send an email to SparMED’s office at QC@sparmed.dk to receive a return authorization material form (RMA form), which you should fill out and send back to the same email address.
  After SparMED communicates its acceptance of a return, by providing RMA number you will have
  5 WORKING DAYS to arrange the dispatch of goods.
  ARRANGE SHIPMENT ONLY AFTER ACCEPTANCE IS COMMUNICATED AND RMA NUMBER IS PROVIDED.

  Please be aware that if you fail to keep 5 working days deadline, you might be asked to start the return process all over again. Please be aware that returned parcels without RMA number will be refused.
  If the return is accepted, please follow the Shipping instructions below.
  Please note that:
  Defective goods will be replaced or repaired free of charge if within the warranty period.
  (Freight costs to Sparmed must be covered by distributor, Sparmed will cover cost of return shipment.)
  In case of damages caused by improper handling or use, repair or replacement is possible with additional fees, please ask for quotation. (Freight costs will not be covered by Sparmed.)
{% endblocktrans %}
</p>

<hr>

<p><strong>{% trans "SHIPPING INSTRUCTIONS" %}</strong></p>
<p>
  {% blocktrans %}
  1.	Clean the goods of all foreign materials prior to shipment and pack in original container if possible.
  2.	Always ship with traceability, using freight forwarders e.g. FedEx, DHL, UPS etc. (tracking no.)
  Using incoterm DAP (Delivery at place).
  3.	Include the RMA inside the box with the returned product and write the RMA number on the parcel.
  4.	Advice: take a photo of the parcel, these photos can be needed as a proof of bad delivery and can be useful for insurance claiming reasons.
  IF YOU CANNOT FULFIL ALL THESE REQUIREMENTS, PLEASE CONTACT US IN ADVANCE, WE WILL TRY TO ASSIST YOU.
  {% endblocktrans %}
</p>


<hr>

<p><strong>{% trans "SHIPPING ADDRESS (BY FEDEX, DHL, UPS ETC.)" %}</strong></p>
<p>
  {% blocktrans %}
  Contact Person: Simona Laurinaviciute
  TEL: +45 3940503
  Ryttermarken 2,
  3520 Farum,
  Denmark

  Opening hours:
  Mon- Thu 07:30 – 15:30
  Fri 07:30 – 13:00
{% endblocktrans %}
</p>

{% endblock %}
