{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load base_extras %}

{% block pagedescription %}Terms and Conditions - SparMED ApS terms and conditions{% endblock %}
{% block title %}Terms and Conditions{% endblock %}


{% block body %}
<h2 class="text-center">Terms and Conditions</h2>

<hr>

<p>
This website is provided by SparMED ApS for information purposes only. By using this Web site or downloading information from this Web site, you agree to abide by the following terms and conditions:
</p>

<hr>

<p><strong>Copyright</strong></p>
<p>
Copyright in the pages, screens, information, and all material in their arrangement, included in the Site is owned by or licensed to SparMED ApS unless otherwise noted.<br>
You may view and download the information at this Web site only for your personal, non-commercial use, unless otherwise agreed.<br>
You may not alter or otherwise make any changes to any material that you print or download from the Site, including, without limitation, removing any identifying marks or legends from such material.<br>
You may not distribute these materials to others, unless otherwise agreed.<br>
Any other use is prohibited unless you first request and obtain our written permission. In particular no one may use a part of the Site, or link any other website to the Site, without our prior written permission.
</p>

<hr>

<p><strong>Third Party Providers</strong></p>
<p>
Content from a third party provider available on or through the Site may not be duplicated, distributed, published, transferred, transmitted, copied, altered, sold, used to create derivative works or otherwise misused. You must comply with all terms disclosed to you as required from time to time by any third party supplier of data or services to the Site, including but not limited to, where necessary, entering into a direct agreement with such third party in respect of your use of their data.
</p>

<hr>
  
<p><strong>Misuse of the Site</strong></p>
<p>
You may not use the Site for any purpose which is unlawful, abusive, libellous, obscene or threatening.
</p>

<hr>

<p><strong>Changes</strong></p>
<p>
The information, material and content provided in the pages of this Site may be changed at any time without notice. We may make changes to these Terms and Conditions at any time without notice to you by updating the posting of the Terms and Conditions.
</p>
  
<hr>

<p><strong>Disclaimer</strong></p>
<p>
This site may contain typographical errors and/or inaccuracies. The site and information contained within it are provided “as is” without any representation or warranty, express or implied, of any kind. Any reliance on information contained within this site shall be at your sole risk.
SparMED obligations with respect to its products and services are governed solely by the agreements under which they are provided and nothing on this site should be construed to alter such agreements. SparMED further does not warrant the accuracy and completeness of the materials at this site. Some jurisdictions do not allow for the exclusion of implied warranties, so the above exclusions may not apply to you.
</p>

<hr>

<p><strong>Limitation of Liability</strong></p>
<p>
IN NO EVENT SHALL WE BE LIABLE FOR ANY DAMAGES, LOSSES OR LIABILITIES INCLUDING WITHOUT LIMITATION, DIRECT OR INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL DAMAGES, LOSSES OR LIABILITIES, IN CONNECTION WITH YOUR USE OF THE SITE OR YOUR RELIANCE ON OR USE OR INABILITY TO USE THE INFORMATION, MATERIALS, PRODUCTS AND SERVICES ON THE SITE, OR IN CONNECTION WITH ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS OR LINE OR SYSTEM FAILURE, EVEN IF YOU ADVISE US OF THE POSSIBILITY OF SUCH DAMAGES, LOSSES OR EXPENSES.
</p>

{% endblock %}