/*** GENERAL RULES ***/
html, body {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 28px;

    font-family: Verdana, Geneva, sans-serif;
    z-index: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

h1, h2 {
    color: #004f4f;
    font-weight: bold;
}

a {
    font-weight: bold;
    color: #008393;
    text-decoration: none;
}

hr {
    position: relative;
    width: 1000%;
    margin-left: -500%;  
    height: 1px;
}

/*** TOP RIGHT BUTTONS ***/
#home-button.active {
    color: #ed1b2e;
}

#account-button.active {
    color: #ed1b2e;  
}

/*** LOGIN ***/
#dist-login {
    display: block;
    position: absolute;

    top: 10px;
    right: 15px;
  
    z-index: 999;
}

#dist-login > a {
    padding: 5px;
    font-weight: bold;  
}

#dist-login > a:hover {
    color: #ed1b2e;
    text-decoration: none;
}

#loginform {
    display: block;
    width: 50%;
    margin: 0px auto;
}

/*** HEADER & NAV BAR ***/
#header {
    display: block;
    position: relative;
    width: 100%;
  
    margin-bottom: 5px;
    padding: 10px;
    height: 160px;
  
    z-index: 90;
  
    background: #e4f9ff;
    background: -moz-linear-gradient(left,  #008393 0%, #e4f9ff 20%, #e4f9ff 80%, #008393 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#008393), color-stop(25%,#e4f9ff), color-stop(80%,#e4f9ff), color-stop(100%,#008393));
    background: -webkit-linear-gradient(left,  #008393 0%,#e4f9ff 20%,#e4f9ff 80%,#008393 100%);
    background: -ms-linear-gradient(left,  #008393 0%,#e4f9ff 20%,#e4f9ff 80%,#008393 100%);
    background: -o-linear-gradient(left,  #008393 0%,#e4f9ff 20%,#e4f9ff 80%,#008393 100%);
    background: linear-gradient(to right,  #008393 0%,#e4f9ff 20%,#e4f9ff 80%,#008393 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008393', endColorstr='#008393',GradientType=1 );    
}

#main-nav {
    display: block;
    position: absolute;
    right: 5px;
    bottom: 20px;
  
    background-color: transparent;
    border: 0px;
  
    z-index: 91;
}

#main-nav.stacked {
    top: 80px;
}

.navbar-collapse {
    border: 0px;
}

#nav-logo {
    display: block;
    position: absolute;
    width: 40%;
    left: 5px;
    top: 5px;
    bottom: 5px;
}

/*** FOOTER ***/
#footer {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
  
    height: 400px;
  
    margin-top: 25px;
    padding: 15px;

    background-color: #005e69;
    font-size: 10px;
    color: #888;
    
    z-index: 38;
  
    background: #e4f9ff;
    background: -moz-linear-gradient(left,  #008393 0%, #e4f9ff 25%, #e4f9ff 75%, #008393 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#008393), color-stop(25%,#e4f9ff), color-stop(75%,#e4f9ff), color-stop(100%,#008393));
    background: -webkit-linear-gradient(left,  #008393 0%,#e4f9ff 25%,#e4f9ff 75%,#008393 100%);
    background: -ms-linear-gradient(left,  #008393 0%,#e4f9ff 25%,#e4f9ff 75%,#008393 100%);
    background: -o-linear-gradient(left,  #008393 0%,#e4f9ff 25%,#e4f9ff 75%,#008393 100%);
    background: linear-gradient(to right,  #008393 0%,#e4f9ff 25%,#e4f9ff 75%,#008393 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008393', endColorstr='#008393',GradientType=1 );    
}

/*** CONTENT CONTAINERS ****/
#main-container {
    min-height:100%;
    position:relative;  
    z-index: 1;
}

.content-container {
    display: block;
    position: relative;

    margin: 0px auto;
    width: 99%;
    min-height: 170px;
    padding: 5px;

    z-index: 47;
}

#content {
    display: block;
    margin: 5px 5px 0px;
    padding-bottom: 400px;
    overflow: hidden;

    z-index: 9;
}

@media (min-width: 768px) { 
    #content {
        padding-bottom: 235px;
    }
  
    #footer {
        height: 235px; 
    }

    .content-container {
        width: 95%;
    }

    #nav-logo {
        width: 20%;
    } 
}

@media (min-width: 992px) {
    .content-container {
        width: 80%;
    }  
}

@media (min-width: 1200px) {  
    .content-container {
        width: 65%;
    }
}

@media (min-width: 1600px) {
    .content-container {
        width: 55%;
    }  
}

/*** INDEX OWL CAROUSEL IMAGES ***/
.index-owl-image {
    display: block;
    margin: 0px auto;
    min-width: 50%;
    max-width: 95%;
    max-height: 300px;
}

/*** ALL OWL CAROUSELS ***/
.owl-carousel {
    margin-top: 20px;
}

/*** NEWS ***/
.news-article {
    font-family: "Arial", sans-serif;  
    font-size: 14px;
}

/*** HELPER CLASSES ***/
.max-height-600 {
    max-height: 600px;
}

.max-height-250 {
    max-height: 250px;
}

.td-max-col-width {
    width: 105px;
}

.td-max-150-col-width {
    width: 150px;
}

.padding-lr-50 {
    padding-right: 55px;
    padding-left: 55px;
    margin-right: 10px;
    margin-left: 10px;
}

.minor-skip {
    display: block;
    height: 15px;
    width: auto;
}

.two-column {
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px; 
}

.three-column {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

.extra-margin-top {
    margin-top: 25px !important;
    padding-top: 5px;
}

.extra-margin-bot {
    margin-bottom: 25px !important;
    padding-bottom: 5px;
}

.text-dark-blue {
    color: RGB(54,95,145); 
}

/*** DISTRIBUTOR HOME PANEL ***/
.btn-fancy > a {
    font-weight: bold;
    color: white;

    background-color: #008393;
    background: -webkit-linear-gradient(#008393, #005e69);
    background: -moz-linear-gradient(#008393, #005e69);
    background: -ms-linear-gradient(#008393, #005e69);
    background: -o-linear-gradient(#008393, #005e69);  
    background: liniear-gradient(#008393, #005e69);

    text-shadow: 0 -1px 0 #000;
  
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none !important;  
  
    box-shadow: 1px 1px 5px #005e69;
}

.btn-fancy:hover > a {
    background-color: #760d17;
    background: -webkit-linear-gradient(#760d17, #000000);
    background: -moz-linear-gradient(#760d17, #000000);
    background: -ms-linear-gradient(#760d17, #000000);
    background: -o-linear-gradient(#760d17, #000000);
    background: liniear-gradient(#760d17, #000000);  
  
    box-shadow: 1px 1px 5px #000000;
}

.btn-fancy.active > a,
.btn-fancy:active > a {
    background-color: #ed1b2e;
    background: -webkit-linear-gradient(#ed1b2e, #820f19);
    background: -moz-linear-gradient(#ed1b2e, #820f19);
    background: -ms-linear-gradient(#ed1b2e, #820f19);
    background: -o-linear-gradient(#ed1b2e, #820f19);    
    background: liniear-gradient(#ed1b2e, #820f19);

    box-shadow: 1px 1px 5px #820f19;
    cursor: default;
}

#distributor-panel-btn-container {
    display: block;
    width: 410px;
    margin: 0px auto;  
    padding: 0px;
}
  
.btn-fancy-grid {
    display: inline-block;

    font-weight: bold;
    text-align: center;
    color: white;
    white-space: normal;

    height: 190px;
    width: 190px;
    padding: 60px 20px;
    margin: 5px;
  
    font-size: 18px;

    background-color: #008393;
    background-position: center center;
    background-repeat: no-repeat;

    border: 0px;
    border-radius: 15px;    
}
  
.btn-fancy-grid-top-left {
    background: -webkit-radial-gradient(100% 100%, farthest-side, #9edeff 20%, #005e69);
    background: -moz-radial-gradient(100% 100%, farthest-side, #9edeff 20%, #005e69);
    background: -ms-radial-gradient(100% 100%, farthest-side, #9edeff 20%, #005e69);
    background: -o-radial-gradient(100% 100%, farthest-side, #9edeff 20%, #005e69);
    background: radial-gradient(100% 100%, farthest-side, #9edeff 20%, #005e69);    
  
    box-shadow: -2px -2px 5px 0px #001619;
}
  
.btn-fancy-grid-top-right {
    background: -webkit-radial-gradient(0% 100%, farthest-side, #9edeff 20%, #005e69);
    background: -moz-radial-gradient(0% 100%, farthest-side, #9edeff 20%, #005e69);
    background: -ms-radial-gradient(0% 100%, farthest-side, #9edeff 20%, #005e69);
    background: -o-radial-gradient(0% 100%, farthest-side, #9edeff 20%, #005e69);
    background: radial-gradient(0% 100%, farthest-side, #9edeff 20%, #005e69);  
  
    box-shadow: 2px -2px 5px 0px #001619;
}
  
.btn-fancy-grid-bot-left {
    background: -webkit-radial-gradient(100% 0%, farthest-side, #9edeff 20%, #005e69);
    background: -moz-radial-gradient(100% 0%, farthest-side, #9edeff 20%, #005e69);
    background: -ms-radial-gradient(100% 0%, farthest-side, #9edeff 20%, #005e69);
    background: -o-radial-gradient(100% 0%, farthest-side, #9edeff 20%, #005e69);
    background: radial-gradient(100% 0%, farthest-side, #9edeff 20%, #005e69);   
  
    box-shadow: -2px 2px 5px 0px #001619;
}
  
.btn-fancy-grid-bot-right {
    background: -webkit-radial-gradient(0% 0%, farthest-side, #9edeff 20%, #005e69);
    background: -moz-radial-gradient(0% 0%, farthest-side, #9edeff 20%, #005e69);
    background: -ms-radial-gradient(0% 0%, farthest-side, #9edeff 20%, #005e69);
    background: -o-radial-gradient(0% 0%, farthest-side, #9edeff 20%, #005e69);
    background: radial-gradient(0% 0%, farthest-side, #9edeff 20%, #005e69);     
  
    box-shadow: 2px 2px 5px 0px #001619;
}

/*** PRODUCT CATEGORY ARTICLES ***/
.category-article {
    display: block;
    margin: 5px;
    padding: 5px;
}

.category-article > h1 {  
    padding: 20px;
}  
  
.category-article > p {
    display: block;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.category-img {
    display: block;
    max-width: 90%;
    max-height: 400px;

    margin: 10px auto;
}

/*** PRODUCT CATEGORY NAVIGATION ***/
#products-nav {
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
    height: auto;
}

.products-nav-cat {
    padding: 3px 6px;
    text-align: center;    
}

.products-nav-cat > a {
    display: block;
    width: 100%;
    height: 100%;
  
    text-decoration: none;
  
    background-color: #f6f6f6;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;  
    border-radius: 5px;  
  
    padding: 10px;
    font-size: 14px;
}

.products-nav-cat > a:hover {
    color: #760d17;
    font-weight: bold;
    background-color: #e0e0e0;
}

.products-nav-cat.active > a {
    color: #ed1b2e;
    font-weight: bold;
}

/*** PRODUCT IMAGES ***/
.product-image {
    display: block;
    margin: 0px auto;    
    
    min-height: 75px;
    min-width: 50px;
  
    max-height: 150px;
    max-width: 190px;
}

/*** DISTRIBUTORS MAP ***/
#distributors-map {
    display: block;
    position: relative;

    height: auto;
    margin: -15px auto -15px;   

    min-width: 700px;
    max-width: 1200px;  

    z-index: 55;  
}

#distributors-map-image {
    display: block;
    position: relative;

    width: 100% !important;
    height: auto !important;

    padding: 0px;
    z-index: 56;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;     
}

#distributors-map .map-dot {
    position: absolute;

    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 5px;

    z-index: 57;

    cursor: pointer;

    -webkit-box-shadow: inset 0 0 5px #3a0a0c;
    -moz-box-shadow: inset 0 0 5px #3a0a0c;
    -ms-box-shadow: inset 0 0 5px #3a0a0c;
    box-shadow: inset 0 0 5px #3a0a0c;    

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   

    z-index: 57;
}

#distributors-map .map-dot p {
    display: none;
    cursor: pointer;
    position: absolute;

    padding: 1px;
    margin: 0px;
    line-height: 16px;

    text-align: center;

    top: -10px;
    left: 20px;

    font-size: 16px;
    font-weight: bold;

    background-color: rgba(255, 255, 255, 0.5);
    color: #1c184f;
    border-radius: 5px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    

    z-index: 58;
}

#distributors-map .map-dot:hover,
#distributors-map .map-dot:active {
    -webkit-box-shadow: inset 0 0 5px #ffffff;  
    -moz-box-shadow: inset 0 0 5px #ffffff;
    -ms-box-shadow: inset 0 0 5px #ffffff;
    box-shadow: inset 0 0 5px #ffffff;     

    z-index: 59;
}

#distributors-map .map-dot:hover p,
#distributors-map .map-dot:active p {
    display: block;

    z-index: 60;
}
