{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% block pagedescription %}{% trans "Setting New Password" %}{% endblock %}
{% block title %}{% trans "Setting New Password" %}{% endblock %}

{% block body %}

{% if validlink %}
        <p>          
          {% blocktrans %}
          Please enter your new password twice.<br />
           So we can verify you typed it in correctly.
          {% endblocktrans %}
        </p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">{% trans "New password" %}:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">{% trans "Confirm password" %}:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="{% trans 'Change my password' %}" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>{% trans "Password reset unsuccessful" %}</h1>
        
        <p>
          {% blocktrans %}
          The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.
          {% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}