{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load base_extras %}
{% load humanize %}

{% block pagedescription %}Customer E-conomic Web Interface for SparMED{% endblock %}
{% block title %}Customer E-conomics Interface{% endblock %}

{% block body %}

<h2 class="text-center">Customer Information</h2>

<div class="hr"><hr /></div>

<div class="row">
  <div class="col-sm-6">
    <strong>{{ customer.name }}</strong><br />
    {{ customer.address }}<br />
    {{ customer.zip }}, {{ customer.city }}<br />
    {{ customer.country }}<br />
    {% if customer.email %}<a href="mailto:{{ customer.email }}" title="{{ customer.email}}">{{ customer.email }}</a>{% endif %}
  </div>
  
  <div class="col-sm-6">
    Customer Number: {{ customer.customerNumber }}<br />
    Customer Group Number: {{ customer.customerGroup.customerGroupNumber }}<br />
    Vat Zone Number: {{ customer.vatZone.vatZoneNumber }}<br />
    {% if customer.vatNumber %}Vat Number: {{ customer.vatNumber }}<br />{% endif %}
    Balance: {{ customer.balance|intcomma }} {{ customer.currency }}<br />
    Last Updated: {{ customer.lastUpdated }}
  </div>
</div>

<div class="hr"><hr /></div>

<h2>Accounts</h2>

<table class="table table-bordered table-hover table-striped">
  <tr>
    <th>#</th>
    <th>Account Number</th>
    <th>Name</th>
    <th>Account Type</th>
    <th>Balance</th>
    <th>Debit / Credit</th>
    <th>Vat Code</th>
  </tr>
  
  {% for account in accounts.collection %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ account.accountNumber }}</td>
    <td>{{ account.name }}</td>
    <td>{{ account.accountType }}</td>
    <td>{{ account.balance|intcomma }}</td>
    <td>{{ account.debitCredit }}</td>
    <td>{{ account.vatAccount.vatCode }}</td>
  </tr>
  {% endfor %}
</table>

<pre>
  {{ accounts.collection }}
</pre>

<div class="hr"><hr /></div>

<h2>Invoices</h2>

<table class="table table-bordered table-hover table-striped">
  
  <tr>
    
  </tr>
  
</table>

<div class="hr"><hr /></div>

<h2>Invoice JSON</h2>
<pre>
  {{ invoices }}
</pre>

<h3>Drafts</h3>
<pre>
  {{ invoices_drafts }}
</pre>

<h3>Booked</h3>
<pre>
  {{ invoices_booked }}
</pre>

<h3>Overdue</h3>
<pre>
  {{ invoices_overdue }}
</pre>

<h3>Totals</h3>
<pre>
  {{ invoices_totals }}
</pre>

<h3>Unpaid</h3>
<pre>
  {{ invoices_unpaid }}
</pre>


<div class="hr"><hr /></div>

<h2>Customer JSON</h2>
<pre>
  {{ customer }}
</pre>

{% endblock %}