{% load i18n %}

<div id="CookielawBanner" style="background-color: #92a5a7; padding-bottom: 5px;">
    <div class="container">
        <h5><strong>{% trans "Cookies Notice" %}</strong></h5>
        <p>
          {% url 'privacy-policy' as privacy_url %}
          {% blocktrans %}
            SparMED.dk uses cookies to ensure a smooth and pleasent experience for you, which means that our site saves small pieces of text information (cookies) on your device. You can disable the usage of cookies by changing the settings of your browser. If you continue to use this website you automatically accept our use of cookies. More information about our protection of personal information can be found in our <a href="{{ privacy_url }}">Privacy Policy</a>.
          {% endblocktrans %}
            <a class="btn btn-default pull-right" href="javascript:Cookielaw.createCookielawCookie();" style="margin: 5px;">{% trans "I Agree" %} <span class="glyphicon glyphicon-ok"></span></a>
        </p>
    </div>
</div>