<article id="{{ post.slug }}" class="news-article">
  <div class="row">
    <div class="col-sm-6">
      {% if post.images %}
      <div id="owl-{{ post.slug }}" class="owl-carousel">
        {% for image in post.images.all %}

        <div><img class="img-responsive img-rounded owl-image" data-src="{{ image.get_absolute_url }}" src="{{ image.get_absolute_url }}" alt="{{ image.title }}" class="lazyOwl"></div>

        {% endfor %}
      </div>
      {% else %}
      <p class="text-center text-muted">No pictures available</p>
      {% endif %}
    </div>    
    <div class="col-sm-6">
      <h3>{{ post.title }}</h3>
      <p>{{ post.content|safe }}</p>
    </div>
  </div>
</article>