{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load base_extras %}
{% load i18n %}

{% block pagedescription %}{% trans "Change or view your company account details at SparMED.dk" %}{% endblock %}
{% block title %}{% trans "Account Area" %}{% endblock %}


{% block body %}

<ol class="breadcrumb">
  <li><a href="{% url 'distributor-login' %}">{% trans "Distributor Home Panel" %}</a></li>
  <li class="active">{% trans "Account Area" %}</li>
</ol>

<h2 class="text-center">{% trans "Account Area" %}</h2>

  <section id="account-form">
    {% if feedback %}
    <div class="alert alert-success">
      <p><span class="glyphicon glyphicon-exclamation-sign"></span> {{ feedback }}</p>
      <p class="text-center">
        <a id="account-button" title="{% trans 'Go to Account Area - view or change company account details' %}" href="{{ user.get_absolute_url }}">{% trans "Go back to" %} <span class="glyphicon glyphicon-wrench"></span> {% trans "Account Area" %}</a>.
      </p>
    </div>
    {% else %}
    <form class="form" role="form" action="{{ user.get_absolute_url }}" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}
      
        {% bootstrap_field form.name %}
        
        <hr class="compact">
      
        <div class="row">
      
            <div class="col-xs-6">
              {% bootstrap_field form.company_name %}              
              {% bootstrap_field form.address %}     
              
              <div class="row">
                <div class="col-xs-6 form-group">
                  {% bootstrap_field form.city %}
                </div>             

                <div class="col-xs-6 form-group">
                  {% bootstrap_field form.postal_code %}
                </div>         
              </div>              
              
              {% bootstrap_field form.country %}                 
            </div>         
          
            <div class="col-xs-6">
              {% bootstrap_field form.contact_person_name %}     
              {% bootstrap_field form.contact_telephone %} 
              {% bootstrap_field form.email %}               
            </div>

        </div>          
      
        <hr class="compact">

      <button type="submit" class="btn btn-primary">
        {% trans "Update Account Details" %}
      </button>
    </form>
    {% endif %}
    
    <span class="minor-skip"></span>
    <a class="btn btn-warning" href="{% url 'password_reset' %}">{% trans "Reset Password" %}</a>
    <span class="minor-skip"></span>
</section>
    

{% endblock %}