{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}
{% load base_extras %}

{% block pagedescription %}Change or view your company account details at SparMED.dk{% endblock %}
{% block title %}Account Area{% endblock %}


{% block body %}

<ol class="breadcrumb">
  <li><a href="{% url 'distributor-login' %}">Distributor Home Panel</a></li>
  <li class="active">Account Area</li>
</ol>

<h2 class="text-center">Account Area</h2>

  <section id="account-form">
    {% if feedback %}
    <div class="alert alert-success">
      <p><span class="glyphicon glyphicon-exclamation-sign"></span> {{ feedback }}</p>
    </div>
    {% else %}
    <form role="form" action="{{ request.user.get_absolute_url }}" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}
      
        {% bootstrap_field form.name layout='vertical' %}
        
        <hr>
      
        {% bootstrap_field form.company_name layout='vertical' %}
        {% bootstrap_field form.address layout='vertical' %}
        {% bootstrap_field form.postal_code layout='horizontal' %}        
        {% bootstrap_field form.city layout='inline' %}
        {% bootstrap_field form.country layout='vertical' %}   
      
        <hr>
       
        {% bootstrap_field form.contact_person_name layout='vertical' %}
        {% bootstrap_field form.contact_telephone layout='vertical' %}
        {% bootstrap_field form.email layout='vertical' %}
      
        <hr>

        {% buttons submit='Update Account Details' %}{% endbuttons %}
    </form>
    {% endif %}
    
    <a class="btn btn-warning" href="{% url 'password_reset' %}">Reset Password</a>
</section>
    

{% endblock %}