{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}
{% load base_extras %}

{% block pagedescription %}Change or view your company account details at SparmedDK{% endblock %}
{% block title %}Account Area{% endblock %}


{% block body %}

<h2>Accounts Area</h2>

  <section id="account-form">
    {% if feedback %}
    <div class="alert alert-success">
      <p>{{ feedback }}</p>
    </div>
    {% else %}
    <form role="form" class="form" action="{{ request.user.get_absolute_url }}" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons submit='Update Account Details' %}{% endbuttons %}
    </form>
    {% endif %}
  </section>

{% endblock %}