{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Online Order Sheet{% endblock %}
{% block title %}Online Order Sheet{% endblock %}

{% block body %}
<ol class="breadcrumb">
  <li><a href="{% url 'distributor-login' %}">Distributor Home Panel</a></li>
  <li class="active">Online Order Sheet</li>
</ol>

<h2 class="text-center">Online Order Sheet</h2>

<form action="{% url 'order-online' %}" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}

  {% buttons submit='Send Order' %}{% endbuttons %}
</form>

{% endblock %}