{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% block pagedescription %}Place an order online easily and safely using SparMED's online order sheet{% endblock %}
{% block title %}Online Order Sheet{% endblock %}

{% block body %}
<ol class="breadcrumb">
  <li><a href="{% url 'distributor-login' %}">{% trans "Distributor Home Panel" %}</a></li>
  <li class="active">{% trans "Online Order Sheet" %}</li>
</ol>

<h2 class="text-center">{% trans "Online Order Sheet" %}</h2>

<hr>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-5">
        <h4>{% trans "Invoice Address" %}</h4>
      </div>
      <div class="col-sm-7">
        <p class="text-small">
          <strong>{{ user.company_name }}</strong><br>
          {{ user.address}}<br>
          {{ user.postal_code }} {{ user.city}}, {{ user.country }}
        </p>
        <p class="text-small">
          {% comment %}Translators: Att abbreviation for 'attention', as used in letters{% endcomment %}
          {% trans "Att" %}: {{ user.contact_person_name }}<br>
          {% trans "Telephone" %}: {{ user.contact_telephone }}<br>
          {% trans "Email" %}: {{ user.email }}<br>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% include 'online_order/order_sheet_product_cart.html' %}

<hr>
<form class="form form-horizontal" role="form" action="{% url 'order-online' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label class="control-label col-sm-4" for="arranged_freight">{% trans "Freight arranged by SparMED?" %}</label>
    <input style="display: inline-block; width: 50px;" type="checkbox" class="form-control col-sm-4" id="arranged_freight" name="arranged_freight" checked
           onclick="javascript:toggleVisible('arranged_freight_options');" />
  </div>

  <article id="arranged_freight_options">
    {% bootstrap_field form.freight_forwarder %}
    {% bootstrap_field form.account_no %}
  </article>

  <hr>

  <div class="form-group">
    <label class="control-label col-sm-4" for="arranged_packing">{% trans "Packaging arranged by SparMED?" %}</label>
    <input style="display: inline-block; width: 50px;" type="checkbox" class="form-control col-sm-4" id="arranged_packing" name="arranged_packing" checked
           onclick="javascript:toggleVisible('arranged_packing_options');" />
    <span class="help-block">{% trans "Please note if SparMED arranges packaging, we will choose the best and safest way of packing your order." %}</span>
  </div>

  <article id="arranged_packing_options">
    {% bootstrap_field form.packing_instructions %}
    {% bootstrap_field form.packing_remarks %}

    {% bootstrap_field form.aircleaner_instructions %}
  </article>

  <hr>

  <div class="form-group">
    <label class="control-label col-sm-4" for="shipping_and_invoice_same">{% trans "Same delivery address?" %}</label>
    <input style="display: inline-block; width: 50px;" type="checkbox" class="form-control col-sm-4" id="shipping_and_invoice_same" name="shipping_and_invoice_same" checked
           onclick="javascript:toggleVisible('invoice_options'); " />
  </div>

  <article id="invoice_options">
    {% bootstrap_field form.invoice_company_name %}
    {% bootstrap_field form.invoice_company_address %}
    {% bootstrap_field form.invoice_company_postal_code  %}
    {% bootstrap_field form.invoice_company_country %}
  </article>

  <hr>

  <div class="form-group">
    <label class="control-label col-sm-4" for="insurance_desired">{% trans "Insurance Chosen?" %}</label>
    <input style="display: inline-block; width: 50px;" type="checkbox" class="form-control col-sm-4" id="insurance_desired" name="insurance_desired"  checked />
  </div>

  <hr>

  {% bootstrap_field form.chosen_currency %}

  <hr>

  <div class="form-group">
    <label class="control-label" for="documents">{% trans "Any specific documents along with your shipment?" %}</label>
    <textarea class="form-control" rows="2" id="documents" name="documents" placeholder="{% trans 'Please write down here if you need any specific documents along with your shipment' %}"></textarea>
  </div>

  <hr>

  <div class="form-group">
    <label class="control-label" for="other_remarks">{% trans "Any other remarks or comments regarding this order?" %}</label>
    <textarea class="form-control" rows="2" id="other_remarks" name="other_remarks" placeholder="{% trans 'Please write down here if you have any other remarks or comments regarding this order' %}"></textarea>
  </div>

  <hr>

  <button type="submit" class="btn btn-primary">
    {% trans "NEXT" %}
  </button>

</form>

{% endblock %}

{% block endbody %}

<script type="text/javascript">
  $(function() {
    $("#arranged_freight_options").toggle();
    $("#arranged_packing_options").toggle();
    $("#invoice_options").toggle();
  });

  function toggleVisible(divid) {
    $("#" + divid).toggle(500);
  }
</script>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.min.css" rel="stylesheet">

<script type="text/javascript">
  $(function() {
    var self = $("#id_q");

    $("#id_q").autocomplete({
      delay: 400,
      minLength: 3,
      source: function(request, response) {
        $.ajax({
          url: "{% url 'autocomplete-url' %}",
          data: {
            'q': self.val(),
          },
          success: function(data) {
            response(data.results || []);
          }
        });
      }
    });
  });
</script>

<script type="text/javascript">
  $(function() {
    var csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
  });

  $("#close-account-change-btn").click(function(event) {
    $.post("{% url 'remove-account-change-cookie' %}");
  });
</script>

{% endblock %}
