{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Place an order online easily and safely using SparMed's online order sheet{% endblock %}
{% block title %}Online Order Sheet{% endblock %}

{% block body %}
<ol class="breadcrumb">
  <li><a href="{% url 'distributor-login' %}">Distributor Home Panel</a></li>
  <li class="active">Online Order Sheet</li>
</ol>

<h2 class="text-center">Online Order Sheet</h2>

<hr>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Company Details</h3>
      </div>
      <div class="panel-body">          
        <p class="text-muted text-small">
          <strong>{{ user.company_name }}</strong><br>
          {{ user.address}}<br>
          {{ user.postal_code }} {{ user.city}}, {{ user.country }}<br>
          Att: {{ user.contact_person_name }}<br>
          Telephone: {{ user.contact_telephone }}<br>
          Email: {{ user.email }}
        </p>

        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <span class="glyphicon glyphicon-exclamation-sign"></span> If you need to change your company details, click on the account <a class="alert-link" href="{{ user.get_absolute_url }}"><span class="glyphicon glyphicon-wrench"></span></a> button in the top of your screen.
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Products in Cart</h3>
      </div>
      
      {% if get_cart and get_cart.count > 0 %}
      <div class="panel-body">  
        <p>Add more products to your cart through the <a class="alert-link" href="{% url 'products' %}">products page</a>.</p>
      </div>      

      <form role="form" class="form" action="{% url 'set-quantity-cart' %}" method="post">
        {% csrf_token %}
        <table class="table table-bordered table-hover">
          <tr>
            <th>Product (ID-Name)</th>
            <th>Quantity</th>
            <th>Remove?</th>
          </tr>

          {% for item in get_cart %}          
          <tr>
            <td>
              <p class="text-small"><a title="View the product details page" href="{{ item.product.get_absolute_url }}">{{ item.product.product_id }} - {{ item.product.name }}</a></p>
            </td>
            <td>
              <div class="form-group">
                <input class="form-control" name="{{ item.object_id }}_quantity-field" id="{{ item.object_id }}_quantity-field" type="number" value="{{ item.quantity }}" required />
              </div>
            </td>
            <td>
              <p class="text-center"><a href="{% url 'remove-from-cart' item.object_id %}"><span aria-hidden="true">&times;</span><span class="sr-only">Remove</span></a></p>
            </td>
          </tr>
          {% endfor %}          
        </table>    
        
        <div style="display: block; margin: 20px; width: 100%;">
          <input class="btn btn-primary" type="submit" value="Update Cart" />
        </div>
        
      </form>
      
      {% else %}
      <p><span class="minor-skip"></span></p>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <span class="glyphicon glyphicon-exclamation-sign"></span> Please add some products to your cart through the <a class="alert-link" href="{% url 'products' %}">products page</a>.
      </div>    
      {% endif %}
    </div>

  </div>


</div>

<hr>

<form class="form form-horizontal" role="form" action="{% url 'order-online' %}" method="post">
  {% csrf_token %}
  {% if feedback %}
  <div class="alert alert-success">
    <p><span class="glyphicon glyphicon-exclamation-sign"></span> {{ feedback }}</p>
  </div>
  {% else %}
  <form role="form" action="{{ request.user.get_absolute_url }}" method="post">
    {% csrf_token %}
    {% bootstrap_form_errors form type='non_fields' %}

    <div class="form-group">
      <label class="control-label col-sm-4" for="arranged_freight">Freight arranged by SparMed?</label>  
      <input type="checkbox" class="form-control col-sm-4" id="arranged_freight" name="arranged_freight" checked 
             onclick="javascript:toggleVisible('arranged_freight_options'); toggleVisible('arranged_freight_options_2');" />
    </div>

    <article id="arranged_freight_options">
      {% bootstrap_field form.freight_forwarder %}
      {% bootstrap_field form.account_no %}
    </article>

    <article id="arranged_freight_options_2">
      {% bootstrap_field form.insurance_desired %}
    </article>

    <hr>

    {% bootstrap_field form.packing_instructions %}
    {% bootstrap_field form.packing_remarks %}

    {% bootstrap_field form.aircleaner_instructions %}

    {% bootstrap_field form.documents %}

    <hr>

    <div class="form-group">
      <label class="control-label col-sm-4" for="shipping_and_invoice_same">Shipping and invoice addresses are the same?</label>  
      <input type="checkbox" class="form-control col-sm-4" id="shipping_and_invoice_same" name="shipping_and_invoice_same" checked 
             onclick="javascript:toggleVisible('invoice_options'); " />
    </div>

    <article id="invoice_options">
      {% bootstrap_field form.invoice_company_name %}
      {% bootstrap_field form.invoice_company_address %}
      {% bootstrap_field form.invoice_company_postal_code  %}
      {% bootstrap_field form.invoice_company_country %}            
    </article>

    <hr>

    {% bootstrap_field form.other_remarks %}

    <hr>

    {% buttons submit='Send Order' %}{% endbuttons %}
  </form>
  {% endif %}
</form>

{% compress js inline %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#arranged_freight_options").toggle();
    $("#invoice_options").toggle();
  });

  function toggleVisible(divid) {
    $("#" + divid).toggle(500); 
  }
</script>

{% endcompress %}

{% endblock %}