{% extends 'bare_base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
{% load tz %}

{% block head %}
<style type="text/css" media="print">
    .non-printable {
      display: none;
    }

    h2 {
      font-size: 20px;
    }

    time {
      font-size: 14px;
    }

    a:link:after, a:visited:after {
        content: "";
    }  
</style>
{% endblock %}

{% block body %}
<div class="container">
  <table class="table table-responsive">
    <tr>
      <td>
        <h2>Purchase Order Sheet Receipt</h2>
        <h4>
          {% localtime on %}
          <time datetime="{{ order.date|date:'c' }}">{{ order.date|date:'Y-m-d H:i' }}</time>       
          {% endlocaltime %}
        </h4>
        <div>
          <a type="button" class="btn btn-default non-printable" href="javascript:window.print()"><span class="glyphicon glyphicon-print"></span></a>
        </div>
      </td>

      <td>
        <img style="display: block; max-width: 300px; width: 50%; margin: 5px auto;" class="img-responsive" src="{% static 'img/sparmed-logo.png' %}" alt="Sparmed Logo - GOosafe in IVF Laboratories">
      </td>
    </tr>   
  </table>

  {% include 'online_order/order_to_from.html' %}

  {% with items=order.items.all %}
      {% include 'online_order/order_items.html' %}
  {% endwith %}  

  {% include 'online_order/order_details.html' %}
  
  {% block containerend %}
  {% endblock %}
  
</div>

{% endblock %}  