{% load i18n %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>{% trans "Order Details" %}</h3>
  </div>
  <div class="panel-body">
    {% if order.arranged_freight %}
    <p>
      {% trans "SparMED Arranged freight: Yes" %}
    </p>
    {% else %}
    <p>
      {% blocktrans %}
      SparMED Arranged Freight: No<br>
      Freight Forwarder: {{ order.freight_forwarder }}<br>
      Account Number: {{ order.account_no }}
      {% endblocktrans %}
    </p>
    {% endif %}

    <p>
    {% if order.arranged_packing %}
    {% trans "SparMED Arranged Packaging: Yes" %}
    {% else %}
    {% trans "Choice of Packaging" %}: {{ order.packing_instructions }}<br>
      {% if order.packing_remarks|length %}
      {% trans "Associated Remarks" %}: <br>
      {{ order.packing_remarks }}
      {% endif %}

    {% endif %}
    </p>

    {% if order.aircleaner_instructions|length %}
    {{ order.aircleaner_instructions }}
    {% endif %}

    <p>
    {% if order.insurance_desired %}
    {% trans "Insurance chosen and included" %}
    {% else %}
    {% trans "Insurance not chosen and therefore not included." %}
    {% endif %}
    </p>

    {% if order.chosen_currency|length %}
    <p>{% trans "Currency chosen:" %} {{ order.chosen_currency }} </p>
    {% endif %}

    {% if order.documents|length %}
    <p>{% trans "Specific Documents Requested" %}:<br> {{ order.documents }}</p>
    {% endif %}

    <p>
    {% if order.shipping_and_invoice_same %}
    {% trans "Invoice and delivery address was the same" %}.
    {% else %}
    {% trans "Delivery Address Details" %}:<br>
      {% trans "Name" %}: {{ order.invoice_company_name }}<br>
      {% trans "Address" %}: {{ order.invoice_company_address }}<br>
      {% trans "Postal Code" %}: {{ order.invoice_company_postal_code }}<br>
      {% trans "Country" %}: {{ order.invoice_company_country }}
    {% endif %}
    </p>

    {% if order.other_remarks|length %}
    <p>{% trans "Other Remarks given to SparMED" %}: <br> {{ order.other_remarks }}</p>
    {% endif %}
  </div>
</div>