{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}
{% load base_extras %}

{% block pagedescription %}View you Order History with SparMED{% endblock %}
{% block title %}Order History{% endblock %}


{% block body %}

<ol class="breadcrumb">
  <li><a href="{% url 'distributor-login' %}">Distributor Home Panel</a></li>
  <li class="active">Order History</li>
</ol>

<h2 class="text-center">Order History</h2>

<hr>

{% for order in orders %}
<h3>Order of <time datetime="{{ order.date|date:'c' }}">{{ order.date|date:'Y-m-d H:i' }}</time></h3>

<div class="row">
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Company Details</h3>
      </div>
      <div class="panel-body">          
        <p class="text-muted">
          <strong>{{ order.user.company_name }}</strong><br>
          {{ order.user.address}}<br>
          {{ order.user.postal_code }} {{ order.user.city}}, {{ order.user.country }}
        </p>
        <p class="text-muted">
          Att: {{ order.user.contact_person_name }}<br>
          Telephone: {{ order.user.contact_telephone }}<br>
          Email: {{ order.user.email }}
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Order Details</h3>
      </div>
      <div class="panel-body">
        {% if order.arranged_freight %}
        <p>
          SparMED Arranged freight: Yes
        </p>    
        {% else %}
        <p>
          SparMED Arranged Freight: No<br>
          Freight Forwarder: {{ order.freight_forwarder }}<br>
          Account Number: {{ order.account_no }}
        </p>
        {% endif %}

        {% if order.arranged_packing %}
        <p>SparMED Arranged Packaging: Yes</p>        
        {% else %}
        <p>Choice of Packaging: {{ order.packing_instructions }}<br>
          {% if order.packing_remarks|length %}
          Associated Remarks: <br>
          {{ order.packing_remarks }}
          {% endif %}
        </p>
        {% endif %}

        {% if order.aircleaner_instructions|length %}
        {{ order.aircleaner_instructions }}
        {% endif %}

        {% if order.insurance_desired %}
        <p>Insurance chosen and included</p>
        {% else %}
        <p>Insurance not chosen and therefore not included.</p>
        {% endif %}

        {% if order.documents|length %}
        <p>Specific Documents Requested:<br> {{ order.documents }}</p>
        {% endif %}

        {% if order.shipping_and_invoice_same %}
        <p>Shipping and invoice addresses were the same.</p>
        {% else %}
        <p>Invoice Address Details:<br>
          Invoice Company Name: {{ order.invoice_company_name }}<br>
          Invoice Company Address: {{ order.invoice_company_address }}<br>
          Invoice Company Postal Code: {{ order.invoice_company_postal_code }}<br>
          Invoice Company Country: {{ order.invoice_company_country }}
        </p>
        {% endif %}

        {% if order.other_remarks|length %}
        <p>Other Remarks given to SparMed: <br> {{ order.other_remarks }}</p>
        {% endif %}
      </div>
    </div>
  </div>

  {% with items=order.items.all %}
  {% if items %}
  <table class="table table-bordered table-hover">
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Quantity</th>
    </tr>

    {% for item in items %}
    <tr>
      <td>
        <a title="View the product details page" href="{{ item.get_absolute_url }}">{{ item.product_id }}</a>
      </td>
      <td>
        <p>{{ item.name }}</p>
      </td>
      <td>
        <p>{{ item.quantity }}</p>
      </td>
    </tr> 
    {% endfor %}
  </table>
  {% else %}
  <div class="alert alert-error"><span class="glyphicon glyphicon-exclamation-sign"></span> No product items found in the order.</div>
  {% endif %}
  {% endwith %}
</div>
{% if not forloop.last %}<hr>{% endif %}

{% empty %}
<div class="alert alert-warning"><span class="glyphicon glyphicon-exclamation-sign"></span> No orders found in the order history.</div>
{% endfor %}

{% endblock %}