{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load base_extras %}
{% load tz %}

{% block pagedescription %}View you Order History with SparMED{% endblock %}
{% block title %}Order History{% endblock %}


{% block body %}

<ol class="breadcrumb">
  <li><a href="{% url 'distributor-login' %}">Distributor Home Panel</a></li>
  <li class="active">Order History</li>
</ol>

<h2 class="text-center">Order History</h2>

<hr>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  {% for order in orders %}
  <div class="panel panel-default">

    <div class="panel-heading" role="tab" id="order_h_{{ order.pk }}">
      <h3 class="panel-title text-center">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#order_c_{{ order.pk }}" aria-expanded="{% if forloop.first%}true{% else %}false{% endif %}" aria-controls="order_c_{{ order.pk }}">
              {% localtime on %}
              Order of <time datetime="{{ order.date|date:'c' }}">{{ order.date|date:'Y-m-d H:i' }}</time>
              {% endlocaltime %}
          </a>
      </h3>
    </div>

    <div id="order_c_{{ order.pk }}" class="panel-collapse collapse" role="tab-panel" aria-labelledby="order_h_{{ order.pk }}" style="margin:15px;">

      <div class="row">
        <div class="col-sm-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Company Details</h3>
            </div>
            <div class="panel-body">          
              <p class="text-muted">
                <strong>{{ order.user.company_name }}</strong><br>
                {{ order.user.address}}<br>
                {{ order.user.postal_code }} {{ order.user.city}}, {{ order.user.country }}
              </p>
              <p class="text-muted">
                Att: {{ order.user.contact_person_name }}<br>
                Telephone: {{ order.user.contact_telephone }}<br>
                Email: {{ order.user.email }}
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-7">
          {% include 'online_order/order_details.html' %}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <span class="minor-skip"> </span>
        </div>
      </div>

      {% with items=order.items.all %}
        {% include 'online_order/order_items.html' %}
      {% endwith %}
      
      <div class="row">
        <div class="col-sm-2"></div>
        
        <div class="col-sm-8">
          <br>
          <a class="btn btn-lg btn-info btn-block" href="{% url 'order-print' order.pk %}" title="View in Print-Friendly Format"><span class="glyphicon glyphicon-print"></span> View in Print-Friendly Format</a>
          <a class="btn btn-lg btn-success btn-block" href="{% url 're-order-history' order.pk %}" title="Repeat Previous Order"><span class="glyphicon glyphicon-shopping-cart"></span> Repeat Order</a>
        </div>
          
        <div class="col-sm-2"></div>
      </div>

    </div> <!-- /panel-collapse -->

  </div><!--  /panel-default -->  
  
  {% if not forloop.last %}<hr class="compact">{% endif %}  

  {% empty %}
  <div class="alert alert-warning"><span class="glyphicon glyphicon-exclamation-sign"></span> No orders found in the order history.</div>
  {% endfor %}

</div><!--/panel-group accordion -->

{% endblock %}