{% load i18n %}

<table class="table table-responsive">
  <tr>
    <td>
      {% comment %} Translators: 'TO' as used in mails (to and from - receiver and sender){% endcomment %}
      <p>{% trans "TO" %}:</p>
      <p>
        <strong>SparMED ApS</strong><br>
        Toppevadvej 34-38<br>
        DK-3660 Stenløse<br>
        {% trans "Denmark" %}
      </p>
      <p>
        {% trans "Phone" %}: +45 3940 2503<br>
        {% trans "Email" %}: info@sparmed.dk<br>
        {% trans "Web" %}: <a href="/" title='SparMED.dk'>www.SparMED.dk</a>
      </p>
    </td>

    <td>
      {% comment %}Translators: 'FROM' as used in mails (to and from - receiver and sender){% endcomment %}
      <p>{% trans "FROM" %}:</p>
      <p>
        <strong>{{ order.user.company_name }}</strong><br>
        {{ order.user.address}}<br>
        {{ order.user.postal_code }} {{ order.user.city}}, {{ order.user.country }}
      </p>
      <p>
        {% trans "Att" %}: {{ order.user.contact_person_name }}<br>
        {% trans "Telephone" %}: {{ order.user.contact_telephone }}<br>
        {% trans "Email" %}: {{ order.user.email }}
      </p>
    </td>    
  </tr>
</table>