{% extends 'bare_base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}This Order Confirmation page shows the details concerning a specific order{% endblock %}
{% block title %}Order Confirmation{% endblock %}

{% block head %}
{% compress css inline %}
<style type="text/css" media="print">
  .non-printable {
    display: none;
  }
  
  h2 {
    font-size: 20px;
  }
  
  time {
    font-size: 14px;
  }
</style>
{% endcompress %}
{% endblock %}

{% block body %}
<div class="container">
  <table class="table table-responsive">
    <tr>
      <td>
        <h2>Purchase Order Sheet Receipt</h2>
        <h4>
          <time datetime="{{ order.date|date:'c' }}">{{ order.date|date:'Y-m-d H:i' }}</time>       
        </h4>
        <div>
          <a type="button" class="btn btn-default non-printable" href="javascript:window.print()"><span class="glyphicon glyphicon-print"></span></a>
        </div>
      </td>

      <td>
        <img style="display: block; max-width: 300px; width: 50%; margin: 5px auto;" class="img-responsive" src="{% static 'img/sparmed-logo.png' %}" alt="Sparmed Logo - GOosafe in IVF Laboratories">
      </td>
    </tr>   
  </table>

  <table class="table table-responsive">
    <tr>
      <td>
        <p>TO:</p>
        <p>
          <strong>SparMED ApS</strong><br>
          Toppevadvej 34-38<br>
          DK-3660 Stenløse<br>
          Denmark
        </p>
        <p>
          Phone: +45 3940 2503<br>
          Email: info@sparmed.dk<br>
          Web: www.sparmed.dk
        </p>
      </td>

      <td>
        <p>FROM:</p>
        <p>
          <strong>{{ order.user.company_name }}</strong><br>
          {{ order.user.address}}<br>
          {{ order.user.postal_code }} {{ order.user.city}}, {{ order.user.country }}
        </p>
        <p>
          Att: {{ order.user.contact_person_name }}<br>
          Telephone: {{ order.user.contact_telephone }}<br>
          Email: {{ order.user.email }}
        </p>
      </td>    
    </tr>
  </table>

  {% with items=order.items.all %}
  <table class="table table-bordered table-hover">
    <tr>
      <th class="td-max-col-width">Product ID</th>
      <th>Product Name</th>
      <th>Quantity</th>
    </tr>

    {% for item in items %}
    <tr>
      <td class="td-max-col-width">
        <a title="View the product details page" href="{{ item.get_absolute_url }}">{{ item.product_id }}</a>
      </td>
      <td>
        <p>{{ item.description|safe }}</p>
      </td>
      <td>
        <p>{{ item.quantity }}</p>
      </td>
    </tr> 
    {% endfor %}
  </table>
  {% endwith %}  

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Order Details</h3>
    </div>
    <div class="panel-body">
      {% if order.arranged_freight %}
      <p>SparMED Arranged Freight: Yes</p>    
      {% else %}
      <p>
        SparMED Arranged Freight: No<br>
        Freight Forwarder: {{ order.freight_forwarder }}<br>
        Account Number: {{ order.account_no }}
      </p>
      {% endif %}

      {% if order.arranged_packing %}
      <p>SparMED Arranged Packaging: Yes</p>        
      {% else %}
      <p>Choice of Packaging: {{ order.packing_instructions }}<br>
        {% if order.packing_remarks|length %}
        Associated Remarks: <br>
        {{ order.packing_remarks }}
        {% endif %}
      </p>
      
      {% if order.aircleaner_instructions|length %}
      {{ order.aircleaner_instructions }}
      {% endif %}      
      
      {% endif %}

      {% if order.insurance_desired %}
      <p>Insurance chosen and included</p>
      {% else %}
      <p>Insurance not chosen and therefore not included.</p>
      {% endif %}

      {% if order.documents|length %}
      <p>Specific Documents Requested:<br> {{ order.documents }}</p>
      {% endif %}

      {% if order.shipping_and_invoice_same %}
      <p>Shipping and invoice addresses were the same.</p>
      {% else %}
      <p>Invoice Address Details:<br>
        Invoice Company Name: {{ order.invoice_company_name }}<br>
        Invoice Company Address: {{ order.invoice_company_address }}<br>
        Invoice Company Postal Code: {{ order.invoice_company_postal_code }}<br>
        Invoice Company Country: {{ order.invoice_company_country }}
      </p>
      {% endif %}

      {% if order.other_remarks|length %}
      <p>Other Remarks given to SparMed: <br> {{ order.other_remarks }}</p>
      {% endif %}
    </div>
  </div>

  <div class="non-printable">
    <a type="button" class="btn btn-lg btn-primary btn-block" href="{% url 'order-confirmation' order.pk True %}">Confirm Order</a>
    <a type="button" class="btn btn-lg btn-danger btn-block" href="{% url 'order-regret' order.pk %}">Regret Order</a>
  </div>

</div>

{% endblock %}