{% extends 'online_order/order_conf_base.html' %}

{% block pagedescription %}This Order History item is shown in print-friendly format{% endblock %}
{% block title %}Print Friendly Order History{% endblock %}

{% block containerend %}
<div class="non-printable">
    <a class="btn btn-lg btn-success btn-block" href="{% url 're-order-history' order.pk %}" title="Repeat Previous Order"><span class="glyphicon glyphicon-shopping-cart"></span> Repeat Order</a>
    <a class="btn btn-lg btn-danger btn-block" href="{% url 'order-history' %}" title="Back to Order History"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
</div>
{% endblock %}