{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Login to SparMED distributor area{% endblock %}
{% block title %}Login{% endblock %}

{% block body %}

<h2 class="text-center">Distributor Login</h2>

<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  If you would like to become a distributor for SparMED, please <a class="alert-link" href="{% url 'contact' %}">contact us</a>.
</div>

<section id="loginform">
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons submit='Login' %}{% endbuttons %}
    <a class="btn btn-warning" href="{% url 'password_reset' %}">Reset Password</a>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
</section>

{% endblock %}