{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load compress %}

{% block pagedescription %}Login to Sparmed distributor area{% endblock %}
{% block title %}Login{% endblock %}

{% block body %}

<h2 class="text-center">Login</h2>

<section id="loginform">
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons submit='Login' %}{% endbuttons %}
    <a class="btn btn-warning" href="{% url 'password_reset' %}">Forgot Password?</a>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
</section>

{% endblock %}