{% extends "base.html" %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% block pagedescription %}{% trans "Reset Password" %}{% endblock %}
{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block body %}
<p>{% trans "Please specify your email address to receive instructions for resetting it." %}</p>

<form action="" method="post">
    {% csrf_token %}
    {{ form.email.errors }}
    <p>
      <label for="id_email">{% trans "Email address" %}:</label> 
      {{ form.email }} 
      <input type="submit" value="{% trans 'Reset password' %}" />
    </p>
</form>
{% endblock %}